<section id="main-8" name="seccion8" class="w3-white" >
    <h2 id="main-81" name="seccion_titulo1" class="w3-padding"></h2>
    <img  id="main-82" name="seccion_imagen" src="../static/img/fachada3.jpeg" style="width:100%">
    <h2 id="main-83" name="seccion_titulo2" class="w3-padding"></h2>

    <article id="main-84" name="articulo_hipertexto" 
                class="w3-panel w3-pale-blue w3-padding-large w3-large">
        <div class="w3-center w3-xlarge">
            <h2 class="w3-text-blue">CONTACTANOS</h2>
            <h2 class="w3-text-blue"><b>CONTACTANOS</b></h2>
            <h2 class="w3-text-indigo">CONTACTANOS</h2>
            <h2 class="w3-text-indigo"><b>CONTACTANOS</b></h2>
            <p>Av.Juan Carlos 24, I, Bajo </p>
            <p>18690, Almuñecar (Granada), Spain</p>            
            <p>(+34) 958 88 11 99</p>                
            <p><a href="mailto:asinex@asinex.es">asinex@asinex.es</a></p>
            <p>(RELOJ): Lunes - Viernes: 9.00 - 14.00<p>
            
        </div>
    </article>
    


    <article id="main-84" name="articulo_googlemap" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.601302546624!2d-3.691918797912952!3d36.732135515343934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71889963e8918b%3A0x7fd23d077010f3c0!2sAv.%20Juan%20Carlos%20I%2C%2024%2C%2018690%20Almu%C3%B1%C3%A9car%2C%20Granada!5e0!3m2!1ses!2ses!4v1677840485458!5m2!1ses!2ses" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <article>
</section>

</div>


<!-- style="background-color:rgb(240 250 254)" -->
<footer id="xfooter" class="w3-panel w3-blue-gray w3-center" >

<div id="xfooter-1" class="w3-panel w3-blue-gray">
    <a id="xfooter-11" class="w3-hover-text-green w3-center"
    href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
    title="W3.CSS" target="_blank" >
        <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge "></i>
    </a>
    <div id="xfooter-12" class="w3-center w3-large">
        <div>Av.Juan Carlos 24, I , Bajo - 18690, Almuñecar (Granada), Spain</div>
        
        <div>(+34) 958 88 11 99 / asinex@asinex.es</div>
        <div>CIF: B-18037630 - Reg. Mercantil nº Gr-433592 (15/5/84)</div>
    </div>
</div>

<div id="xfooter-2" class="w3-panel w3-blue-gray">

    <a id="xfooter-21" href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
    title="W3.CSS" target="_blank" class="w3-hover-text-green w3-large w3-left">
    sicem
    </a>
    
    <a id="xfooter-22" href="#main0" class="w3-button w3-light-grey w3-right">
        <i class="fa fa-angle-up w3-large"></i>
    </a>
</div>


</footer>

<!-- <div id="index0" > -->
</body>
</html>

