    <!-- TURISMO COSTA TROPICAL -->
    <section id="main-4" name="seccion4"class="w3-white" >
        <h2 id="main-41" name="seccion_titulo1" class="w3-padding"></h2>
        <img  id="main-42" name="seccion_imagen" src="../static/img/img4.jpeg" style="width:100%">
        <h2 id="main-43" name="seccion_titulo2" class="w3-padding w3-center w3-text-blue">COSTA TROPICAL</h2>

        <article id="main-44" name="articulo_hipertexto" 
                    class="w3-panel w3-padding-large w3-large">
            <div class="w3-center">
                
                <p>Cada vez más popular entre los residentes extranjeros</p>
                <p>Almuñécar es una atractiva ciudad costera con un interesante
                     paseo marítimo que está dividido en numerosos tramos
                    con pequeñas calas y varias playas largas.</p>
                <p> Todas con excelentes instalaciones que las hacen perfectas para familias</p>
                <h3 class="w3-center w3-text-blue">ENLACES UTILES</h>               
            </div>
        </article>

       <!-- Iconos links -->
       <article id="main-15" name="articulo_iconos" 
       class="w3-panel w3-row w3-pale-blue w3-large" style="width:100%">

            <div id="main-151" class="w3-third w3-padding-large">
            <img id="main-1511" name="icono_img" src="../static/img/Almu-gente.jpg" 
                    class="w3-circle w3-padding-large" style="width:80%"/>
            <a id="main-1512" name="icono_link" href="https://www.almunecar.es/" 
                    class="w3-bar-item w3-button">Ayuntamiento</a>
            </div>

            <div id="main-152" class="w3-third w3-padding-large">
            <img id="main-1521" name="icono_img" src="../static/img/Almunecar.jpeg"
                    class="w3-circle w3-padding-large" style="width:80%" />
            <a id="main-1522" name="icono_link" href="https://www.visitalmunecar.es/" 
                    class="w3-bar-item w3-button">Visit Almuñecar</a>
            </div>

            <div id="main-153" class="w3-third w3-padding-large">
            <img id="main-1531" name="icono_img" src="../static/img/Almu-gaviota.jpeg" 
                    class="w3-circle w3-padding-large" style="width:80%" />
            <a id="main-1532" name="icono_link" href="https://www.andalucia.org/es/playas/costa-tropical" 
                    class="w3-bar-item w3-button">Costa Tropical</a>
            </div>

        </article>




        <article id="main-46" name="articulo_cards" class="w3-hide">
            <h2> GALERIA DE TARJETAS</h2>
            <div class="w3-container">
                <p>Galeria de tarjetas<p>
                <p>Tarjeta1: Imagen - Hipertexto</p>
                <p>Tarteta2: Hipertexto - Imagen</p>
                <p>Tarjeta3: Imagen - Hipertexto</p>
                <p>Tarteta4: Hipertexto - Imagen</p>
                <p>Tarjeta5: Imagen - Hipertexto</p>
                <p>Tarteta6: Hipertexto - Imagen</p>
            </div> 
        </article>
        
    </section>

