<div id="main">
    <!-- INICIO -->
    <section id="main-1" name="seccion1" class="w3-white" style="padding-top:100px">
        <h2 id="main-11" name="titulo1_seccion" class="w3-padding"></h2>
        <img id="main-12" name="imagen_seccion" class="" src="../static/img/img1.jpeg" style="width:100%">
        <h2 id="main-13" name="titulo2_seccion" class="w3-center w3-padding w3-text-indigo">
            COLOR INDIGO
        </h2>
        <h2 id="main-13" name="titulo2_seccion" class="w3-center w3-padding w3-text-blue">
            COLOR BLUE
        </h2>
        <h2 id="main-13" name="titulo2_seccion" class="w3-center w3-padding w3-text-teal">
            COLOR TEAL
        </h2>
        <h2 id="main-13" name="titulo2_seccion" class="w3-center w3-padding color-asinex">
            COLOR ASINEX
        </h2>


        <article id="main-14" name="articulo_hipertexto" 
            class="w3-panel w3-padding-large w3-large">
            <div class="w3-center">
                <h3 class="w3-center" ></h3>
                <p>Le ayudamos a simplificar todo lo relacionado con la burocracia española</p>
                <p>Nuestro objetivo es que nuestros servicios sean prácticos para el cliente.
                desde representarle ante Haciendahasta resolver sus dudas con respecto allow
                a facturas de luz o de comunidad de propietarios.</p>
                <p> Proporcionamos
                un servicio global que le permita hacer lo que desee y a disfrutaar de su vida
                en España.</p>

            </div>
        </article>

        <!-- Iconos servicios -->
        <article id="main-15" name="articulo_iconos" 
                    class="w3-panel w3-row w3-center w3-pale-blue w3-large" style="width:100%">
            
            <div id="main-151" class="w3-third w3-padding-large">
                <img id="main-1511" name="icono_img" src="../static/img/icon-Asesoria_Legal.svg" 
                        class="w3-image w3-padding-large" style="width:35%"/>
                </br>
                <a id="main-1512" name="icono_link" href="#main-2" 
                        class="w3-bar-item w3-button">Asesoria Legal</a>
            </div>

            <div id="main-152" class="w3-third w3-padding-large">
                <img id="main-1521" name="icono_img" src="../static/img/icon-Fiscal_y_Contabilidad.svg"
                        class="w3-padding-large" style="width:32%" />
                </br>
                <a id="main-1522" name="icono_link" href="#main-2" 
                        class="w3-bar-item w3-center w3-button">Fiscal y Contabilidad</a>
            </div>
            
            <div id="main-153" class="w3-third w3-padding-large">
                <img id="main-1531" name="icono_img" src="../static/img/icon-Gestiones_administrativas.svg" 
                        class="w3-padding-large" style="width:25%" />
                </br>
                <a id="main-1532" name="icono_link" href="#main-2"
                        class="w3-bar-item w3-button">Gestiones Administrativas</a>
            </div>

        </article>

        <!-- REFERENCIAS DE CLIENTES -->
        <article id="main-16" name="articulo_galeria" class="w3-container w3-white">
            <h2 class="w3-text-blue w3-center">Referencias de nuestros clientes</h2>
            <div id="main-166" class="w3-row w3-pannel w3-white w3-padding-large">
    
                <div id="main-1611" class="w3-col m5 w3-panel w3-left w3-padding-large w3-white">
                    <div>
                        <img id="main-16111" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                        <p id="main-16112" class="w3-center"> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut non massa vitae risus fermentum ullamcorper. 
                            Phasellus risus urna, ornare in aliquam id, 
                            porttitor sit amet sapien. Nulla facilisi.
                        </p>
                        <img id="main-16113" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                            class="w3-right" style="width:8%"/>
                    </div>
                </div>
                <div id="main-1612" 
                        class="w3-col m5 w3-panel w3-right w3-padding-large w3-white">
                    <div>
                        <img id="main-16121" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                            class="w3-show" style="width:8%"/> 
                        <p cid="main-16122">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut non massa vitae risus fermentum ullamcorper. 
                            Phasellus risus urna, ornare in aliquam id, 
                            porttitor sit amet sapien. Nulla facilisi.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut non massa vitae risus fermentum ullamcorper. 
                            Phasellus risus urna, ornare in aliquam id, 
                            porttitor sit amet.
                        </P>
                        <img id="main-16123" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                            class="w3-right" style="width:8%"/> 
                    </div>
                </div>
            </div>
            
            <div id="main-162" class="w3-row w3-pannel w3-white w3-padding-large">
    
                <div id="main-1621" class="w3-col m5 w3-panel w3-left w3-padding-large">
                    <img id="main-16211" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 

                    <p id="main-16212" class="w3-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi. "
                    </p>
                    <img id="main-16213" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
                <div id="main-1622" class="w3-col m5 w3-panel w3-right w3-padding-large w3-cursive w3-white"
                        >
                    <img id="main-16221" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                    <p id="main-16222" class="w3-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi.
                    </p>
                    <img id="main-16223" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
            </div>

            <div id="main-163" class="w3-row w3-pannel w3-white w3-padding-large">

                <div id="main-1631" class="w3-col m5 w3-panel w3-left w3-padding-large">
                    <img id="main-16311" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 

                    <p id="main-16312" class="w3-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi. "
                    </p>
                    <img id="main-16313" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
                <div id="main-1632" class="w3-col m5 w3-panel w3-right w3-padding-large w3-cursive w3-white"
                        >
                    <img id="main-16321" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                    <p id="main-16322" class="w3-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi.
                    </p>
                    <img id="main-16323" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
            </div>
    
        </article>
 
        <!-- COLABORAMOS CON  -->
        <!-- COLABORAMOS CON  -->
        <articule class="w3-pale-blue">
            <h2 class="w3-text-blue w3-center">COLABORAMOS CON</h2>
            <div id="main-17" name="articulo_iconos" 
                        class="w3-panel w3-row w3-center w3-pale-blue w3-large" style="width:100%">
                
                <div id="main-171" class="w3-third w3-padding-large">
                    <img id="main-1711" name="icono_img"src="../static/img/colores.jpeg" 
                            class="w3-circle w3-padding-large" style="width:50%"/>
                    <a id="main-1712" name="icono_link" href="http://camaleontropical.com" 
                            class="w3-bar-item w3-button">Camaleón Tropical</a>
                </div>

                <div id="main-172" class="w3-third w3-padding-large">
                    <img id="main-1721" name="icono_img" src="../static/img/multiges-logo-2.png"
                            class="w3-padding-large" style="width:50%" />
                    <a id="main-1722" name="icono_link" href="#main-2" 
                            class="w3-bar-item w3-button">Liberty Seguros</a>
                </div>
                
                <div id="main-173" class="w3-third w3-padding-large">
                    <img id="main-1731" name="icono_img" src="../static/img/logo_sicem.jpg" 
                            class="w3-padding-large" style="width:50%" />
                    <a id="main-1732" name="icono_link" href="#main-2" 
                            class="w3-bar-item w3-button">SICEM</a>
                </div>

            </div>
            <div id="main-18" name="articulo_iconos" 
                        class="w3-panel w3-row w3-center w3-pale-blue w3-large" style="width:100%">
                
                <div id="main-181" class="w3-third w3-padding-large">
                    <img id="main-1811" name="icono_img" src="../static/img/battle-net.svg" 
                            class="w3-padding-large" style="width:40%"/>
                    <a id="main-1812" name="icono_link" href="#main-2" 
                            class="w3-bar-item w3-button">Multiges</a>
                </div>

                <div id="main-182" class="w3-third w3-padding-large">
                    <img id="main-1821" name="icono_img" src="../static/img/app-store.svg"
                            class="w3-padding-large" style="width:40%" />
                    <a id="main-1822" name="icono_link" href="#main-2" 
                            class="w3-bar-item w3-button">Liberty Seguros</a>
                </div>
                
                <div id="main-183" class="w3-third w3-padding-large">
                    <img id="main-1831" name="icono_img" src="../static/img/asymmetrik.svg" 
                            class="w3-padding-large" style="width:40%" />
                    <a id="main-1832" name="icono_link" href="#main-2" 
                            class="w3-bar-item w3-button">Sicem</a>
                </div>
            </div>

        </article>


    </section>
