<!-- {% load i18n static %} -->
<!DOCTYPE html>
<html lang="es">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title id="head-1" name="innerHTML:text1">Asinex</title>
    <link id="head-2" name="setAttr:href" rel="icon" href="../static/img/favicon.jpg/" />
    <!--<link idx="head-3" rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link idx="head3" name="setAttr:href" rel="stylesheet" href="../static/css/w3.css">
    <!--<link id="head-4" rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css"> -->
    <link id="head-5" name="setAttr:href" rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="head-6" name="setAttr:href" rel="stylesheet" href="../static/css/index2.css">
    
    <style id="head-7">
        body, h1, h2, h3, h4, h5, h6 {
            font-family: Verdana, Geneva, sans-serif;
        }
        .color-asinex {
            color: #2194C2;
        }
    </style>

    <!-- <script id="head-9" src="../static/js/index2.js"></script>  --> 
</head>





<body id="index2" class="w3-content" style="max-width:100%">
<!-- <div id="index0" > -->

<header id="header" class="w3-top w3-red">
    <!-- -Fila 1-------------------------------------- -->
    <div id="company" class="w3-bar w3-white">
        <img id="logo" src="../static/img/logo1.jpg" 
                class="w3-padding w3-left" alt="" 
                style="width:300px;padding-bottom:0" >

        <!-- banderas es,en,fr,de,dk	-->
        <div id="languages" class="w3-right w3-padding-16" style="padding-right:16px">
            <img id="lan-es" src="../static/img/Bandera-ESP.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="es ">

            <img id="lan-en" src="../static/img/Bandera-ENG.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="en ">

            <img id="lan-fr" src="../static/img/Bandera-FRA.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="fr ">
            
            <img id="lan-de" src="../static/img/Bandera-ALE.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="de ">

            <img id="lan-dk" src="../static/img/Bandera-DIN.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="dk ">
        </div>
    </div>
    <!-- Fila 2 --------------------------------------- -->    
    <div id="appbar" class="w3-bar w3-white w3-card" style="padding-top:1px">


        <div id="titulo" class="w3-left w3-small w3-large">
            <b id="titulo-1" style="padding-left:40px">
                Asesoria Legal y Fiscal</b>
        </div>
    
        <div id="navbar" class="w3-right w3-hide-small w3-large w3-padding-16">
            <a id="navbar-1" href="#main-1" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Inicio</a>
            <a id="navbar-2" href="#main-2" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Servicios</a>
            <a id="navbar-3" href="#main-3" class="w3-bar-item w3-button
                w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                w3-bottombar w3-border-white w3-hover-border-blue">
                Sobre Nosotros</a>
            <a id="navbar-4" href="#main-4" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Costa Tropical</a>
            <a id="navbar-5" href="#main-5" class="w3-bar-item w3-button
                w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                w3-bottombar w3-border-white w3-hover-border-blue">
                Preguntas Frecuentes</a>
            <a id="navbar-8" href="#main-8" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Contacto</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->  

        <a href="javascript:void(0)" 
            class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <!-- <i class="fa fa-bars"></i> -->
            <img src="../static/img/bars.svg" style="width:30px" />
        </a>
    </div>
    <!-- Fila 3 --------------------------------------- -->    
    <div id="sidebar"    
        class="w3-sidebar w3-bar-block w3-pale-blue w3-card w3-animate-left w3-hide-medium w3-hide-large" 
        style="display:none" >
        <a id="sidebar-1" href="#main-1" class="w3-bar-item w3-button">Inicio</a>
        <a id="sidebar-2" href="#main-2" class="w3-bar-item w3-button">Servicios</a>
        <a id="sidebar-3" href="#main-3" class="w3-bar-item w3-button">Sobre Nosotros</a>
        <a id="sidebar-4" href="#main-4" class="w3-bar-item w3-button">Costa Tropical</a>
        <a id="sidebar-5" href="#main-5" class="w3-bar-item w3-button">Preguntas Frecuentes</a>
        <a id="sidebar-8" href="#main-8" class="w3-bar-item w3-button">Contacto</a>
        <!-- 
            <a id="sidebar6"></a>
            <a id="sidebar7"></a>
            <a id="sidebar8"></a>
            <a id="sidebar9"></a> 
        -->
        <a id="sidebarx" href="javascript:void(0)" onclick="w3_close()" 
            class="w3-bar-item w3-button">
            <i class="fa fa-close"></i> CERRAR
        </a>
    </div>
        
    <script>
        var mySidebar = document.getElementById("sidebar");
        function w3_open() {
            if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            } else {
            mySidebar.style.display = 'block';
            }
        }
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>
</header>
