<!-- {% load i18n static %} -->
<!DOCTYPE html>
<html lang="es">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title id="head-1" name="TITLE" mark=":text1" marki18n="innerHTML:text1" >Asinex</title>
    <link id="head-2" name"FAVICON" mark=":text2" rel="icon" href="../static/img/favicon.jpg/" />
    <!--<link idx="head-3" rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link id="head-3" name="CSS" rel="stylesheet" href="../static/css/w3.css">
    <!--<link idx="head-4" rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css"> -->
    <link id="head-5" name="CSS" rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="head-6" name="CSS" rel="stylesheet" href="../static/css/index2.css">
    
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: Verdana, Geneva, sans-serif;
        }
        .asinex-blue {
            background-color: #2194C2;
        }
        .asinex-text-blue {
            color: #2194C2;
        }

        .asinex-pale-blue {
            background-color: rgb(241,250,253);
        }
        .asinex-text-pale-blue {
            color: rgb(241,250,253);
        }

    </style>

    <!-- <script idx="head-9" src="../static/js/index2.js"></script>  --> 
</head>


<body id="index2" class="w3-content" style="max-width:100%">
<!-- <div idx="index0" > -->

<header id="header" name="APPBAR" class="w3-top w3-red">
    <!-- -Fila 1-------------------------------------- -->
    <div id="company" class="w3-bar w3-white">
        <img id="logo" src="../static/img/logo1.jpg" 
                class="w3-padding w3-left" alt="" 
                style="width:300px;padding-bottom:0" >

        <!-- banderas es,en,fr,de,dk	-->
        <div id="languages" class="w3-right w3-padding-16" style="padding-right:16px">
            <img id="lan-es" src="../static/img/Bandera-ESP.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="es ">

            <img id="lan-en" src="../static/img/Bandera-ENG.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="en ">

            <img id="lan-fr" src="../static/img/Bandera-FRA.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="fr ">
            
            <img id="lan-de" src="../static/img/Bandera-ALE.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="de ">

            <img id="lan-dk" src="../static/img/Bandera-DIN.png"
                class="w3-display-container w3-hover-opacity" 
                style="display:inline;width:30px" alt="dk ">
        </div>
    </div>
    <!-- Fila 2 --------------------------------------- -->    
    <div id="appbar" class="w3-bar w3-white w3-card" style="padding-top:1px">


        <div id="titulo" class="w3-left w3-small w3-large">
            <b id="titulo-1" style="padding-left:40px">
                Asesoria Legal y Fiscal</b>
        </div>
    
        <div id="navbar" class="w3-right w3-hide-small w3-large w3-padding-16">
            <a id="navbar-1" href="#main-1" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Inicio</a>
            <a id="navbar-2" href="#main-2" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Servicios</a>
            <a id="navbar-3" href="#main-3" class="w3-bar-item w3-button
                w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                w3-bottombar w3-border-white w3-hover-border-blue">
                Sobre Nosotros</a>
            <a id="navbar-4" href="#main-4" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Costa Tropical</a>
            <a id="navbar-5" href="#main-5" class="w3-bar-item w3-button
                w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                w3-bottombar w3-border-white w3-hover-border-blue">
                Preguntas Frecuentes</a>
            <a id="navbar-8" href="#main-8" class="w3-bar-item w3-button
                    w3-hover-none w3-text-black w3-hover-text-indigo w3-hover-text-underline
                    w3-bottombar w3-border-white w3-hover-border-blue">
                Contacto</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->  

        <a href="javascript:void(0)" 
            class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <!-- <i class="fa fa-bars"></i> -->
            <img src="../static/img/bars.svg" style="width:30px" />
        </a>
    </div>
    <!-- Fila 3 --------------------------------------- -->    
    <div id="sidebar"    
        class="w3-sidebar w3-bar-block asinex-pale-blue asinex-text-blue
            w3-card w3-animate-left w3-hide-medium w3-hide-large" 
        style="display:none" >
        <a id="sidebar-1" href="#main-1" class="w3-bar-item w3-button">Inicio</a>
        <a id="sidebar-2" href="#main-2" class="w3-bar-item w3-button">Servicios</a>
        <a id="sidebar-3" href="#main-3" class="w3-bar-item w3-button">Sobre Nosotros</a>
        <a id="sidebar-4" href="#main-4" class="w3-bar-item w3-button">Costa Tropical</a>
        <a id="sidebar-5" href="#main-5" class="w3-bar-item w3-button">Preguntas Frecuentes</a>
        <a id="sidebar-8" href="#main-8" class="w3-bar-item w3-button">Contacto</a>
        <!-- 
            <a id="sidebar6"></a>
            <a id="sidebar7"></a>
            <a id="sidebar8"></a>
            <a id="sidebar9"></a> 
        -->
        <a id="sidebarx" href="javascript:void(0)" onclick="w3_close()" 
            class="w3-bar-item w3-button">
            <i class="fa fa-close"></i> CERRAR
        </a>
    </div>
        
    <script>
        var mySidebar = document.getElementById("sidebar");
        function w3_open() {
            if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            } else {
            mySidebar.style.display = 'block';
            }
        }
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>
</header>

      
<div id="main">
    <!-- INICIO -->
    <section id="main-1" name="INICIO" class="w3-white" style="padding-top:100px">
        <h2 id="main-11" name="TITULO-S" class="w3-hide w3-padding">INICIO</h2>
        <img id="main-12" name="IMAGEN-S" class="" src="../static/img/img1.jpeg" style="width:100%">


        <article id="main-13" name="DESCRIPCION" 
            class="w3-panel w3-padding-large w3-large">
            <h3 id="main-131" name="TITULO-A" class="w3-center" ></h3>
            <div id="main132" name="TEXTO-A" class="w3-center">
                <p>ASINEX es una empresa dedicada al servicio al cliente 
                    extranjero con una primera o segunda residencia en Almuñecar.</p>

                <p>Desde 1984 hemos ido evolucionando y afianzándonos en 
                    la Costa Tropical de Granada, proporcionando un servicio global
                     que tiene como objetivo ayudar y asistir a nuestros clientes.</p>
                
                <p>Ofrecemos un trabajo honesto, competente y fiable.</p>
                
                <p>Procuramos respetar las necesidades de nuestros clientes 
                    adaptando nuestra gestión a las mismas.</p> 
                
                <p>También nos enfocamos en respetar el medio ambiente y por ello, 
                    intentamos reducir nuestra huella.</p>
                
            </div>
        </article>

        <!-- Iconos servicios -->
        <article id="main-15" name="ICONOS-A" 
                    class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">
            
            <div id="main-151" class="w3-third w3-padding-large">
                <img id="main-1511" name="icono_img" src="../static/img/icon-Asesoria_Legal.svg" 
                        class="w3-image w3-padding-large" style="width:35%"/>
                </br>
                <a id="main-1512" name="icono_link" href="#main-2" 
                        class="w3-bar-item w3-button">Asesoria Legal</a>
            </div>

            <div id="main-152" class="w3-third w3-padding-large">
                <img id="main-1521" name="icono_img" src="../static/img/icon-Fiscal_y_Contabilidad.svg"
                        class="w3-padding-large" style="width:32%" />
                </br>
                <a id="main-1522" name="icono_link" href="#main-2" 
                        class="w3-bar-item w3-center w3-button">Fiscal y Contabilidad</a>
            </div>
            
            <div id="main-153" class="w3-third w3-padding-large">
                <img id="main-1531" name="icono_img" src="../static/img/icon-Gestiones_administrativas.svg" 
                        class="w3-padding-large" style="width:25%" />
                </br>
                <a id="main-1532" name="icono_link" href="#main-2"
                        class="w3-bar-item w3-button">Gestiones Administrativas</a>
            </div>

        </article>

        <!-- REFERENCIAS DE CLIENTES -->
        <article id="main-16" name="articulo_galeria" class="w3-container w3-white">
            <h3 class="asinex-text-blue w3-center">Referencias de nuestros clientes</h3>
            <div id="main-166" class="w3-row w3-pannel w3-white w3-padding-large">
    
                <div id="main-1611" class="w3-col m5 w3-panel w3-left w3-padding-large w3-white">
                    <div>
                        <img id="main-16111" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                        <p id="main-16112" class="w3-center"> 
                            Estoy muy contento con ASINEX y todo el equipo simpático,
                             honesto, eficaz y siempre disponible. - <span><b>Patrick F.</b></span> 
                        </p>
                        <img id="main-16113" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                            class="w3-right" style="width:8%"/>
                    </div>
                </div>
                <div id="main-1612" 
                        class="w3-col m5 w3-panel w3-right w3-padding-large w3-white">
                    <div>
                        <img id="main-16121" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                            class="w3-show" style="width:8%"/> 
                        <p cid="main-16122">
                            Estamos muy contentos con los servicios de Samuel. 
                            En el complicado proceso de compra de una casa en Andalucía 
                            siempre nos aconsejó bien, tranquilizándonos y explicándonos 
                            los riesgos y oportunidades. Es preciso y concienzudo. 
                            Creemos que siempre trabaja en interés de su cliente. 
                            En resumen, ¡lo recomiendo mucho! -  <span><b> Vicente y Florencia</b></span>  
                        </P>
                        <img id="main-16123" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                            class="w3-right" style="width:8%"/> 
                    </div>
                </div>
            </div>
            
            <div id="main-162" class="w3-row w3-pannel w3-white w3-padding-large">
    
                <div id="main-1621" class="w3-col m5 w3-panel w3-left w3-padding-large">
                    <img id="main-16211" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 

                    <p id="main-16212" class="w3-center">
                        "Las mejores experiencias las he tenido con el apoyo 
                        de los empleados de ASINEX, que se caracterizan por un alto nivel
                         de profesionalidad en la tramitación administrativa. 
                         En particular, ¡el soporte fiscal y legal para sus clientes y 
                         el sector inmobiliario es excelente! 
                         Este logro especial de recibir una administración comprensiva, 
                         plena y competente de una sola fuente, me inspira todos los días. 
                         Es un gran placer para mí trabajar con la directora general
                          Andrea Royen y su personal. Me siento en buenas manos aquí y 
                          sólo puedo recomendar ASINEX.” - <span><b>Florian Gr.</b></span> 
                    </p>
                    <img id="main-16213" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
                <div id="main-1622" class="w3-col m5 w3-panel w3-right w3-padding-large w3-white"
                        >
                    <img id="main-16221" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                    <p id="main-16222" class="w3-center">
                        Como propietario de nuestra propiedad vacacional en el municipio
                         de Almuñécar, mi familia y yo somos clientes satisfechos de Asinex
                          desde hace más de 30 años. Siempre podimos contar con 
                          el apoyo confiable en todos los asuntos fiscales y regulatorios
                           de la directora general Andrea Royen y su amable y competente equipo y,
                            por lo tanto, podimos disfrutar de las diversas 
                            atracciones de la Costa Tropical sin preocupaciones.” - <span><b>Patrick H.</b></span> 
                    </p>
                    <img id="main-16223" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
            </div>

            <div id="main-163" class="w3-row w3-pannel w3-white w3-padding-large">

                <div id="main-1631" class="w3-col m5 w3-panel w3-left w3-padding-large">
                    <img id="main-16311" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 

                    <p id="main-16312" class="w3-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi. "
                    </p>
                    <img id="main-16313" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
                <div id="main-1632" class="w3-col m5 w3-panel w3-right w3-padding-large w3-white"
                        >
                    <img id="main-16321" name="icono_img" src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                    <p id="main-16322" class="w3-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut non massa vitae risus fermentum ullamcorper. 
                        Phasellus risus urna, ornare in aliquam id, 
                        porttitor sit amet sapien. Nulla facilisi.
                    </p>
                    <img id="main-16323" name="icono_img" src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/> 

                </div>
            </div>
    
        </article>
 
        <!-- COLABORAMOS CON  -->
        <article class="asinex-pale-blue">
            <h3 class="asinex-text-blue w3-center w3-padding-24">Colaboramos con</h3>
            <div id="main-17" name="articulo_iconos" 
                        class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">
                
                <div id="main-171" class="w3-third w3-padding-large">
                    <a id="main-1711" name="LOGO-LINK" href="http://camaleontropical.com"> 
                         <img id="main-1712" name="icono_img" src="../static/img/Logo_Camaleon_Tropical.png" 
                            class="w3-padding-large" style="width:50%"/>
                    </a>
                </div>

                <div id="main-172" class="w3-third w3-padding-large">
                    <a id="main-1721" name="LOGO_LINK" href="https.//www.generali.es"> 
                         <img id="main-1722" name="icono_img" src="../static/img/Logo_Generali_Seguros.png"
                            class="w3-padding-large" style="width:50%"/>
                    </a>
                </div>

                <div id="main-173" class="w3-third w3-padding-large">
                    <a id="main-1731" name="LOGO_LINK" href="https://g.page/r/CQrDNMYMi4mwEAI/review" > 
                         <img id="main-1732" name="icono_img" src="../static/img/Logo_Arquitectos_Molina.jpg"
                            class="w3-padding-large" style="width:50%"/>
                    </a>
                </div>

            </div>

            <div id="main-18" name="articulo_iconos" 
                        class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">

                <div id="main-181" class="w3-third w3-padding-large">
                    <a id="main-1811" name="LOGO_LINK" href="#main-163" > 
                            <img id="main-1812" name="icono_img" 
                                src="../static/img/Logo_Topografia_Jose_Solana.jpg"
                                class="w3-padding-large" style="width:50%"/>
                    </a>
                </div>
                        
                <div id="main-182" class="w3-third w3-padding-large">
                    <a id="main-1821" name="LOGO_LINK" href="https://mengel-partners.com/en"> 
                            <img id="main-1822" name="icono_img" 
                            class="w3-top-middle"
                            src="../static/img/Logo_Mengel__Partners.png" 
                                class="w3-padding-large w3-align-top" style="width:40%"/>
                    </a>
                </div>

                <div id="main-183" class="w3-third w3-padding-large">
                    <a id="main-1831" name="LOGO_LINK" href="http://inalmunecar.com"> 
                            <img id="main-1832" name="icono_img" 
                            src="../static/img/Logo_InAlmunecar.jpg" 
                                class="w3-padding-large" style="width:50%"/>
                    </a>
                </div>

        </article>

    </section>

    <!-- NUESTROS SERVICIOS -->
    <section id="main-2" name="seccion2" class="w3-white" >
        <h2 id="main-21" name="seccion_titulo1" class="w3-hide w3-padding w3-blue-grey"></h2>
        <img  id="main-22" name="seccion_imagen" src="../static/img/img2.jpeg" style="width:100%">
        <h3 id="main-231" class="w3-center asinex-text-blue">NUESTROS SERVICIOS</h3>

        <article id="main-23" name="articulo_hipertexto" 
                    class="w3-hide w3-panel w3-center w3-large">
            
            <div id="main-232" class="w3-hide" >
                
                <p>Le ayudamos a simplificar todo lo relacionado con la burocracia española</p>
                <p>Nuestro objetivo es que nuestros servicios sean prácticos para el cliente.
                desde representarle ante Haciendahasta resolver sus dudas con respecto allow
                a facturas de luz o de comunidad de propietarios.</p>
                <p> Proporcionamos
                un servicio global que le permita hacer lo que desee y a disfrutaar de su vida
                en España.</p>
            </div>
        </article>

  
        <article>
            
            <div id="main-26" class="w3-white w3-padding-24">
                <h2 class="w3-hide w3-center asinex-text-blue "></h2>
                <!-- <div class="w3-pannel w3-padding-large"> -->

                    <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Asesoria_Legal.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                            Asesoría legal
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Representación legal de personas físicas y empresas
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asistencia integral para la compra y venta de bienes inmuebles. 
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asistencia en Constitución de Sociedades mercantiles, 
                    Ampliaciones de Capital, Actos jurídicos Societarios, Disoluciones. 
                    Coordinar y acompañar en la Notaria para la firma, 
                    confeccionar y pagar los impuestos relacionados con la compra 
                    hasta su Registro en el registro de la Propiedad.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asistencia en elaboración de todo tipo de documentos notariales. 
                            poderes, testamentos, Escrituras de adaptación de superficies y Obra Nueva.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asesoramiento y asistencia global para transmitir propiedades inmobiliarias:
                             Donaciones, Herencias, Extinciones de Condominio…
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asesoramiento jurídico en áreas de Derecho Civil, Inmobiliario y Mercantil.
                        </li>
                    </ul>

                    <ul class="w3-ul asinex-pale-blue">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Fiscal_y_Contabilidad.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                                Fiscal y contabilidad
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Domicilio Fiscal de personas físicas y empresas.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Altas en Censo Agencia Tributaria
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Confección y presentación de declaraciones fiscales: 
                            Personas Físicas y Jurídicas tanto No Residentes, como Residentes.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Contabilidad 
                        </li>        
                        <li class="w3-large" style="padding-left:7%">
                            Presentación de Cuentas Anuales al Registro Mercantil
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asesoramiento Fiscal
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Atender Requerimientos de la Agencia Tributaria
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Bajas
                        </li>    
    
                    </ul>

                  <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Gestiones_administrativas.svg" 
                            class="w3-padding" style="width:6%"/>
                            <b class="w3-xlarge">
                                Gestiones Administrativas / Burocráticas
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asistencia para obtención N.I.E. (Número de Identificación Extranjero). 
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Obtención de Certificado Digital 
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Servicio Postal: Recepción y clasificación de facturas y documentos. 
                            En papel y digital. Agua, electricidad, internet, telefonía, 
                            comunidad de propietarios, …)
                        </li>
                        
                        <li class="w3-large" style="padding-left:7%">
                            Gestiones relacionadas con el Catastro e Impuesto sobre Bienes Inmuebles.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Gestiones relacionadas con la Diputación Provincial y demás Impuestos y tasas municipales.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Asistencia para contratar, cambiar y/o domiciliar suministro de Agua,
                             electricidad, internet, telefonía, alarma.
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Atender Requerimientos del Ayuntamiento y/o de la Junta de Andalucía
                        </li>
                    </ul>

                  <ul class="w3-ul asinex-pale-blue">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Colaboramos.svg" 
                            class="w3-padding-large" style="width:9%"/>
                            <b class="w3-xlarge">
                                Colaboramos con
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            <a href="http://www.camaleontropical.com">
                            Camaleón Tropical.Gestoria de inmuebles vacacionales </a>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            <a href="https://g.page/r/CQrDNMYMi4mwEAI/review"> 
                            Arquitectos Molina & Maqueda</a>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            <a href="https.//www.generali.es">
                            Seguros Generalli</a>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            <a href="https://mengel-partners.com/en">
                                Inmobiliaria Mengel & Partners</a>
                        </li>

                        <li class="w3-large" style="padding-left:7%">
                            <a href="" >
                            Topografia Jose Solana</a>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            <a href="http://inalmunecar.com">
                            Inmobiliaria InAlmuñecar</a>
                                
                        </li>
                    </ul>

                    <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Urbanizaciones.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                                Urbanizaciones
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            ECCO</li>
                        <li class="w3-large" style="padding-left:7%">
                            Peña Parda</li>
                    </ul>



                <!-- </div> -->
            </div>
        </article>

    </section>

    <!-- Team Section -->
    <section id="main-3" name="seccion3" class="w3-white" >
        <h2 id="main-31" name="seccion_titulo1" class="w3-padding"></h2>
        <img  id="main-32" name="seccion_imagen" src="../static/img/Equipo_web.jpg" style="width:100%">
        
        <article id="main-33" name="articulo_hipertexto" 
            class="w3-panel w3-center w3-padding-large w3-large">
            <h3 class="w3-center asinex-text-blue">SOBRE NOSOTROS</h3>
            <div>
                <p>ASINEX fue fundada en 1984. Nuestra especialidad es el asesoramientoy
                    asistencia a extranjeros y ciudadanos de la UE con primera o segunda
                    residencia en Española
                </p>
                <p>A lo largo de estos años nuestra compañia se ha convertido en uns de las empresas
                    de servicios más firmes y con más experiencia en esta área en la Costa Tropical
                     de Granada.</p>
                <p>Representamos los intereses de nuestros clientes de manera competente y fiable,
                     principalmente en la zona de Almuñécar y la Herradura, pues estamos 
                    muy familiarizados con las condiciones locales, pero nuestro ámbito de actuación va,
                a menudo, más allá</p>
                <p>La escucha atenta, aclarar cuales son las necesidades reales del cliente, una porción
                    de sentido común y una relación calidad-precio equilibrada son los fundamentos básicos
                    de nuestro éxito.</p>
                <p>Para ellor ASINEX dispone de un equipo competente, amable y multilingüe de abogados,
                     asesores y asistentes, así como empleados y colaboradores altamente cualificados
                     y profesionales
                </p>
            </div>
        </article>

       <!-- Iconos servicios -->
       <article id="main-35" name="articulo_iconos" 
                class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">

            <div id="main-351" class="w3-third w3-padding-large">
                <img id="main-3511" name="icono_img" src="../static/img/icon-Confianza.svg" 
                    class="w3-padding-large" style="width:39%"/>
                </br>
                <a id="main-3512" name="icono_link" href="#main-2" 
                    class="w3-bar-item w3-button">Confianza</a>
            </div>

            <div id="main-352" class="w3-third w3-padding-large">
                <img id="main-3521" name="icono_img" src="../static/img/icon-Pasion.svg"
                    class="w3-padding-large" style="width:33%" />
                </br>
                <a id="main-3522" name="icono_link" href="#main-2" 
                    class="w3-bar-item w3-center w3-button">Pasion</a>
            </div>

            <div id="main-353" class="w3-third w3-padding-large">
                <img id="main-3531" name="icono_img" src="../static/img/icon-Valores.svg" 
                    class="w3-padding-large" style="width:33%" />
                </br>
                <a id="main-3532" name="icono_link" href="#main-2"
                    class="w3-bar-item w3-button">Valores</a>
            </div>

        </article>




        <article id="main-36" class="w3-panel w3-white">
            <!--Fila1-->
            <div id="main-361" class="w3-row w3-padding-64 w3-center">
                <div class="w3-col m4 l4">
                    <div id="main-3611" class="w3-container">
                        <img src="../static/img/Equipo-Andrea.jpg" class ="w3-circle" 
                        alt="Andrea"  style="width:80%">
                        <p class="w3-red w3-hide">Tarjeta para Andrea.</p>

                        <div class="w3-container">
                            <h4>Andrea Royen</h4>
                            <h6>Gerente, Asesora Fiscal</h6>
                            <h5>Tel. (34) 999 999 999</h5>
                            
                            <a class="w3-button w3-opacity asinex-text-blue w3-block" 
                                    href="mailto:andrea@asinex.es">
                                    <b><u>andrea@asinex.es</u></b>
                            </a>
                            
                            <p class="w3-center">
                                Me gusta el buen humor y estar en la naturaleza. 
                                En el trabajo me maravilla la eficacia y que los clientes
                                 y colaboradores estén a gusto y satisfechos. 
                                 Intento tener un equilibrio saludable en todo lo que hago.
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m4 l4">
                    <div id="main-3612" class="w3-container">
                        <img src="../static/img/Equipo-Fran.jpeg" class ="w3-circle" 
                            alt="Fran"  style="width:80%"/>
                        <p class="w3-red w3-hide">Tarjeta para Fran.</p>

                        <div class="w3-container">
                            <h4>Francisco Gonzalez Vigo</h4>
                            <h6>Contabilidad</h6>
                            <h5>Tel. (34) 999 999 999</h5>
                            <p class="w3-opacity">
                                <a class="w3-button asinex-text-blue  w3-block" 
                                    href="mailto:fran@asinex.es">
                                    <b><u>fran@asinex.es</u></b>
                                </a>
                            </p>
                            
                            <p class="w3-center">
                                Cuando se mira la vida con retrospectiva, 
                                te das cuenta de que hay infinidad de interconexiones, 
                                entre elementos que en un principio habíamos considerado 
                                completamente separados y no lo están tanto.
                                 En mi vida tengo pilares como la Familia, los Amigos, 
                                 el Trabajo y mi hobby, que son las Artes Marciales, 
                                 que aportan valores como Disciplina, Respeto, Esfuerzo, etc.
                                <p class="w3-hide">Pensando un poco en todo esto, uno se da cuenta que:
                                    • No se puede tener una buena relación, a cualquier nivel, con una mala persona. 
                                    • La disciplina es el camino que nos lleva de los objetivos a los logros.
                                    • El respeto es la piedra angular de cualquier relación humana.</p>

                                Quiero tomar prestada esta frase del Bushido (código de los samuráis): 
                                No sé nada acerca de cómo superar a otros. 
                                Solo conozco el modo de superarme a mí mismo.
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m4 l4">
                    <div id="main-3613" class="w3-container">
                        <img src="../static/img/Equipo-Pilar.jpg" class ="w3-circle"
                         alt="Pilar"  style="width:80%" />
                        <p class="w3-red w3-hide">Tarjeta para Pilar.</p>

                        <div class="w3-container">
                            <h4>Pilar Jimenez Girela</h4>
                            <h6>Abogado</h6>
                            <h5>Tel. (34) 999 999 999</h5>
                            <p class="w3-opacity">
                                <a class="w3-button asinex-text-blue  w3-block" 
                                    href="mailto:pilar@asinex.es">
                                    <b><u>pilar@asinex.es</u></b>
                                </a>
                            </p>
                            <p class="w3-center">
                                El Derecho y la Moda, dos grandes pasiones. 
                                Ambas disciplinas implican confianza en uno mismo, 
                                luchar por el respeto y los derechos de los demás, 
                                ser estudiante siempre, hacer lo mejor, 
                                hasta en el más mínimo detalle, siempre con justicia, 
                                humildad y honradez, porque 
                                “la elegancia no consiste en destacar sino en ser recordado”.
                           </p>                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fila 2-->
            <div id="main-342" class="w3-row-padding w3-center">
                <div class="w3-col m6 l6">
                    <div id="main-3621" class="w3-container" >
                        <img src="../static/img/Equipo-Samuel.jpg" class ="w3-circle"
                            alt="Samuel"  style="width:60%">
                        <p class="w3-red w3-hide">Tarjeta para Samuel.</p>

                        <div class="w3-container">
                            <h4>Samuel Ruiz del Castillo</h4>
                            <h6>Abogado</h6>
                            <h5>Tel. (34) 999 999 999</h5>
                            <p class="w3-opacity">
                                <a class="w3-button asinex-text-blue  w3-block" 
                                    href="mailto:andrea@asinex.es">
                                    <b><u>samuel@asinex.es</u></b>
                                </a>
                            </p>
                            <p class="w3-center">
                                Me encanta el deporte, la música, la naturaleza y
                                los animales en general, y disfrutar del mar en todos sus aspectos. 
                                Procuro disfrutar y aprovechar mi ocio y mi tiempo libre al máximo.
                                Ello viene obviamente precedido de mi trabajo.
                                 Resulta confortante realizar tu trabajo y en encontrar a
                                  un cliente seguro, tranquilo y satisfecho. 
                                  Ello me motiva y lo convierte en un reto. 
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m6 l6">
                        <div id="main-3622" class="w3-container">
                            <img src="../static/img/Equipo-Issa.jpg" class ="w3-circle" 
                                alt="Issa"  style="width:60%">
                            <p class="w3-red w3-hide">Tarjeta para Issa.</p>
    
                            <div class="w3-container">
                                <h3>Issa Graven</h3>
                                <h4>Administración</h4>
                                <h5>Tel. (34) 999 999 999</h5>
                                <p class="w3-opacity">
                                    <a class="w3-button asinex-text-blue w3-block" 
                                        href="mailto:issa@asinex.es">
                                        <b><u>issa@asinex.es</u></b>
                                    </a>
                                </p>
                                <p class="w3-center">
                                    Viajar es vivir, decía H.C Andersen. Como viajera incansable, 
                                    todos mis viajes terminaban estableciéndome en el lugar del destino,
                                     con el deseo de convertirme en uno de sus habitantes.
                                    Como trabajadora de Asinex, veo fascinante y educativo
                                     el encuentro con diferentes culturas y sus formas de expresión. 
                                     Es un reto para mi llegar a ser capaz de comunicar 
                                     información en otros idiomas. Una pasión de la que 
                                     me siento afortunada de poder vivir cada día.
                                </p>                                
                            </div>
                        </div>
                    </div>
    
                </div>
           </div>
        </article>

    </section>

    <!-- TURISMO COSTA TROPICAL -->
    <section id="main-4" name="seccion4"class="w3-white" >
        <h2 id="main-41" name="seccion_titulo1" class="w3-padding"></h2>
        <img  id="main-42" name="seccion_imagen" src="../static/img/img4.jpeg" style="width:100%">
        <h3 id="main-43" name="seccion_titulo2" class="w3-padding w3-center asinex-text-blue">
            COSTA TROPICAL</h3>

        <article id="main-44" name="articulo_hipertexto" 
                    class="w3-panel w3-padding-large w3-large">
            <div class="w3-center">
                
                <p>Cada vez más popular entre los residentes extranjeros</p>
                <p>Almuñécar es una atractiva ciudad costera con un interesante
                     paseo marítimo que está dividido en numerosos tramos
                    con pequeñas calas y varias playas largas.</p>
                <p> Todas con excelentes instalaciones que las hacen perfectas para familias</p>
                <h3 class="w3-center asinex-text-pale-blue">Enlaces útiles</h3>               
            </div>
        </article>

       <!-- Iconos links -->
       <article id="main-15" name="articulo_iconos" 
       class="w3-panel w3-row asinex-pale-blue w3-large w3-center" style="width:100%">

            <div id="main-151" class="w3-third w3-padding-large">
            <img id="main-1511" name="icono_img" src="../static/img/Almu-gente.jpg" 
                    class="w3-padding-large w3-circle" style="width:90%"/>
            <a id="main-1512" name="icono_link" href="https://www.almunecar.es/" 
                    class="w3-bar-item w3-button">Ayuntamiento</a>
            </div>

            <div id="main-152" class="w3-third w3-padding-large">
            <img id="main-1521" name="icono_img" src="../static/img/Almu-costa.jpg"
                    class="w3-padding-large w3-circle" style="width:90%" />
            <a id="main-1522" name="icono_link" href="https://www.visitalmunecar.es/" 
                    class="w3-bar-item w3-button">Visit Almuñecar</a>
            </div>

            <div id="main-153" class="w3-third w3-padding-large">
            <img id="main-1531" name="icono_img" src="../static/img/Almu-gaviota.jpg" 
                    class="w3-padding-large w3-circle" style="width:90%" />
            <a id="main-1532" name="icono_link" href="https://www.andalucia.org/es/playas/costa-tropical" 
                    class="w3-bar-item w3-button">Costa Tropical</a>
            </div>

        </article>




        <article id="main-46" name="articulo_cards" class="w3-hide">
            <h3> Galeria de Tarjetas</h3>
            <div class="w3-container">
                <p>Galeria de tarjetas<p>
                <p>Tarjeta1: Imagen - Hipertexto</p>
                <p>Tarteta2: Hipertexto - Imagen</p>
                <p>Tarjeta3: Imagen - Hipertexto</p>
                <p>Tarteta4: Hipertexto - Imagen</p>
                <p>Tarjeta5: Imagen - Hipertexto</p>
                <p>Tarteta6: Hipertexto - Imagen</p>
            </div> 
        </article>
        
    </section>


    <section id="main-5" name="seccion5" class="w3-white" >
        <h2 id="main-51" name="seccion_titulo1" class="w3-padding"></h2>
        <img  id="main-52" name="seccion_imagen" src="../static/img/img5.jpeg" style="width:100%">
        <h3 id="main-53" name="seccion_titulo2" class="w3-center w3-padding asinex-text-blue">
            PREGUNTAS FRECUENTES</h3>


        <article id="main5-4" class="w3-container">

            <ul class="w3-ul w3-large w3-white">
                <li id="main5-41" class="w3-block">
                    <strong id="main5-411" onclick="myFunction('main5-412')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray" >
                           
                        ¿Hay aparcamiento cerca de vuestra oficina ccc cvxcv xcvxcvx xzvcxvxc?
                    </strong>
                    <div id="main5-412" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text.dfhcgnvbnjyhngfnuhru sihfiashfsdocn ksaid aoshfoas fsofasidsfs
                            asdkifjsd saofi aspf sdpfj apsdvpas vpsd vvpsadjpsvpsjsdv psv.
                    </div>
                </li>

                <li id="main5-42" class="w3-block">
                    <strong id="main5-421" onclick="myFunction('main5-422')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            ¿Cuánto cobráis cbcv vcbcvb xcv bvb ccx cv xcb  
                            sdfsdfdgsg gsdsdg dsgd gss  dgfg?
                    </strong>
                    <div id="main5-422" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Los honorarios van en función de si la gestión es una gestión única o periódica.
                            También influye si el tiempo invertido es para una gestión 
                            administrativa/burocrática o profesional.
                    </div>
                </li>

                <li id="main5-43" class="w3-block">
                    <strong id="main5-431" onclick="myFunction('main5-432')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            Quiero solocitar el N.I.E., ¿me podeis ayudar?
                    </strong>
                    <div id="main5-432" 
                        class="w3-block w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-44" class="w3-block">
                    <strong id="main5-441" onclick="myFunction('main5-442')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            Quiero hacerme Residente, ¿me podeis ayudar?
                    </strong>
                    <div id="main5-442" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-45" class="w3-block">
                    <strong id="main5-451" onclick="myFunction('main5-452')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            Tengo preguntas sobre mi pensión, ¿me podeis ayudar?
                    </strong>
                    <div id="main5-452" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-46" class="w3-block">
                    <strong id="main5-461" onclick="myFunction('main5-462')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            ¿Hacéis traducciones?
                    </strong>
                    <div id="main5-462" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-47" class="w3-block">
                    <strong id="main5-471" onclick="myFunction('main5-472')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            ¿Necesito una cuenta bancaria en España para domiciliar mis recibos de Agua, 
                    Electricidad y demás suministros?
                    </strong>
                    <div id="main5-472" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-48" class="w3-block">
                    <strong id="main5-481" onclick="myFunction('main5-482')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            ¿Gestionáis Transmisiones de Vehículos?
                    </strong>
                    <div id="main5-482" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

                <li id="main5-49" class="w3-block">
                    <strong id="main5-491" onclick="myFunction('main5-492')"
                            class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray">
                            Quiero comprarme un coche/moto y me piden el Certificado de Empadronamiento.
                            ¿Me podéis hacer esta gestión sin que venga a España?
                    </strong>
                    <div id="main5-492" 
                        class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                        Some text..
                    </div>
                </li>

            </ul>

            <script>
                function myFunction(id) {
                  var x = document.getElementById(id);
                  if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className = 
                    x.previousElementSibling.className.replace("w3-white", "asinex-blue w3-text-white");
                  } else { 
                    x.className = x.className.replace(" w3-show", "");
                    x.previousElementSibling.className = 
                    x.previousElementSibling.className.replace("asinex-blue w3-text-white", "w3-white");
                  }
                }
            </script>
            
                        
        </article>        
    </section>


    <section id="main-8" name="CONTACTO" class="w3-white" >
        <h2 id="main-81" name="TITULO" class="w3-padding"></h2>
        <img  id="main-82" name="IMAGEN" src="../static/img/Ofi_web2.jpg" 
        style="width:100%">

        <article id="main-83" name="articulo_hipertexto" 
                    class="w3-panel w3-padding w3-large">
            <div class="w3-center w3-xlarge">
                <h3 id="main-831" class="asinex-text-blue">CONTACTANOS</h3>
                <p id="main-832" >Av.Juan Carlos I, 24, Bajo </p>
                <p id="main-833" >18690, Almuñecar (Granada), Spain</p>            
                <p id="main-834" >(+34) 958 88 11 99</p>                
                <a href="mailto:asinex@asinex.es" class="w3-hover-text-blue"
                    style="display:block">
                    asinex@asinex.es</a>
                <p><img src="../static/img/icon-Horario.svg" class ="w3-circle"
                    style="width:3%">
                     : Lunes - Viernes: 9.00 - 14.00
                </p>
            </div>
        </article>

        <article id="main-84" name="GOOGLEMAP" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.601302546624!2d-3.691918797912952!3d36.732135515343934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71889963e8918b%3A0x7fd23d077010f3c0!2sAv.%20Juan%20Carlos%20I%2C%2024%2C%2018690%20Almu%C3%B1%C3%A9car%2C%20Granada!5e0!3m2!1ses!2ses!4v1677840485458!5m2!1ses!2ses" 
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <article>
    </section>

</div>


<!-- style="background-color:rgb(240 250 254)" -->
<footer id="xfooter" class="w3-panel w3-white w3-center" >

    <div id="xfooter-1" class="w3-PANEL">
        <a id="xfooter-11" class="w3-hover-text-green w3-center"
        href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
        title="W3.CSS" target="_blank" >
            <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge "></i>
        </a>
        <div id="xfooter-12" class="w3-center w3-large">
            <div>Av.Juan Carlos I, 24, Bajo - 18690, Almuñecar (Granada), Spain</div>
            
            <div>(+34) 958 88 11 99 / asinex@asinex.es</div>
            <div>CIF: B-18037630 - Reg. Mercantil nº Gr-433592 (15/5/84)</div>
        </div>
    </div>

    <div id="xfooter-2" class="w3-panel">

        <a id="xfooter-21" href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
        title="W3.CSS" target="_blank" class="w3-hover-text-green w3-large w3-left">
        Pagina desarrollada por Mc
        </a>
        
        <a id="xfooter-22" href="#main" class="w3-right">
            <!-- <i class="fa fa-angle-up w3-large"></i> -->
            <img 
                class ="w3-circle w3-right" style="width:20%"
                src="../static/img/circle-up.svg">
        </a>
    </div>


</footer>

<!-- <div id="index0" > -->
</body>
</html>

