
<section id="main-5" name="seccion5" class="w3-blue-gray" >
    <h2 id="main-51" name="seccion_titulo1" class="w3-padding">PREGUNTAS FRECUENTES</h2>
    <img  id="main-52" name="seccion_imagen" src="../static/img/img5.jpeg" style="width:100%">
    <h2 id="main-53" name="seccion_titulo2" class="w3-padding">PREGUNTAS FRECUENTES</h2>

    <article id="main-54" name="articulo_hipertexto" 
                class="w3-panel w3-theme-l5 w3-padding-large w3-large">
        <div>
            <h3 class="w3-center">PREGUNTAS frecuentes</h3>
            <p>Hay dudas que se repiten en muchos autónomos y empresas</p>
            <p>Por ello les ofrecemos estas preguntas mas frecuentes.</p>
            <p> que de forma inmediate pueden servirle de utilidad</p>                
        </div>
    </article>

    <article>
        <div class="w3-container">

            <h2>Active Accordions</h2>
            <p>In this example we add the w3-red class to an active accordion (when the button is clicked on and the content is opened).</p>
            
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-black w3-left-align">Open Section 1</button>
            <div id="Demo1" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>
            
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-black w3-left-align">Open Section 2</button>
            <div id="Demo2" class="w3-hide w3-container">
                <p>Some other text..</p>
            </div>
            
            </div>
            <script>
            function myFunction(id) {
              var x = document.getElementById(id);
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("w3-black", "w3-red");
              } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("w3-red", "w3-black");
              }
            }
            </script>
                    




    <article id="main-54" name="articulo_hipertexto" 
            class="w3-panel w3-theme-l5 w3-padding-large w3-large">>
        
        <h3 class="w3-center">PREGUNTAS FRECUENTES</h3>
    
        <div class="w3-panel w3-xlarge w3-pale-blue" style="padding-left:60px">
            <h6>¿Cuándo debe una pequeña empresa contratar a un abogado de impuestos?</h6>
            <h6>¿ De qué otra manera puede ayudarmee un abogado de impuestos?</h6>
            <h6>¿ Qué forma jurídica es la más beneficiosa para mi empresa?</h6>
            <h6>¿Cuando debo de darme alta como autónomo?</h6>
            <h6>¿Cuantos son los honorarios de un abogado?</h6>
            <h6>¿Cuantos son los honorarios de un asesor Fiscal/Contable?</h6>
            <h6>¿Qué impuestos tengo que pagar en mi negocio?</h6>

            <div class="w3-panel w3-dropdown-hover">
                <button class="w3-button w3-blue-gray">¿Qué impuestos tengo que pagar en mi negocio?</button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="#" class="w3-bar-item w3-button">Liquidacion IVA</a>
                    <a href="#" class="w3-bar-item w3-button">Impuesto sociedades</a>
                    <a href="#" class="w3-bar-item w3-button">Y otros</a>
                </div>
            </div>
            <br/>
            <div class="w3-panel w3-dropdown-hover">
                <button class="w3-button w3-blue-gray">¿Qué impuestos tengo que pagar en mi negocio?</button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <div class="w3-panel w3-padding-large"> Los impuestoa pagar dependen del tipo de negocio que usted tenga.
                        Póngasé en contacto con nosotros y le responderemos sin cargo alguno para determinar
                        aquellos que le  corresponden. Gracias por su interés
                    </div>
                
                </div>
            </div>


        </article>
    
</section>
