    <!-- NUESTROS SERVICIOS -->
    <section id="main-2" name="seccion2" class="w3-white" >
        <h2 id="main-21" name="seccion_titulo1" class="w3-padding w3-blue-grey"></h2>
        <img  id="main-22" name="seccion_imagen" src="../static/img/img2.jpeg" style="width:100%">
        <h2 id="main-23" name="seccion_titulo2" class="w3-padding w3-text-blue w3-center">NUESTROS SERVICIOS</h2>

        <article id="main-24" name="articulo_hipertexto" 
                    class="w3-panel w3-theme-l5 w3-padding-large w3-large w3-hide">
            <div>
                <h3 class="w3-center"></h3>
                <p>Le ayudamos a simplificar todo lo relacionado con la burocracia española</p>
                <p>Nuestro objetivo es que nuestros servicios sean prácticos para el cliente.
                desde representarle ante Haciendahasta resolver sus dudas con respecto allow
                a facturas de luz o de comunidad de propietarios.</p>
                <p> Proporcionamos
                un servicio global que le permita hacer lo que desee y a disfrutaar de su vida
                en España.</p>
            </div>
        </article>

  
        <article>
            
            <div id="main-26" class="w3-white w3-padding-24">
                <h2 class="w3-center w3-text-blue "></h2>
                <!-- <div class="w3-pannel w3-padding-large"> -->

                    <ul class="w3-ul w3-pale-blue">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Asesoria_Legal.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                                Asesoria Legal Muestra
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Representación legal, tanto para personas físicas como para empresas
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Transmisión de la propiedad y sus consiguientes tramitaciones
                            ante Notario Público y Registro de la Propiedad
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Transmisión de la propiedad y sus consiguientes tramitaciones
                            ante Notario Público y Registro de la Propiedad
                        </li>
                    </ul>

                    <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Asesoria_Legal.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                            Asesoría legal
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Representación legal, tanto para personas físicas como para empresas
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Transmisión de la propiedad y sus consiguientes tramitaciones
                            ante Notario Público y Registro de la Propiedad
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Compraventa y gestiones de vivienda en España
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Gestiones ante el ayuntamiento
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Testamentos y herencias
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Gestiones para la constitución e inscripción de sociedades
                        </li>
                    </ul>

                    <ul class="w3-ul w3-pale-blue">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Fiscal_y_Contabilidad.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                                Fiscal y contabilidad
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Declaraciones y representaciones fiscales para residentes y no residentes
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Atender requerimientos y actuar ante la inspección por parte de la Administración local
                            (Ayuntamiento), regional (Junta de Andalucía) y estatal (Hacienda).
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Documentos pertinentes para las oportunas altas, modificaciones y bajas de datos de 
                            personas y empresas en la agencia tributaria
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Impuestos obligarios: IVA, Sociedades, etc..
                        </li>        
                        <li class="w3-large" style="padding-left:7%">
                            Contabilidad tanto a personas físicas como a Sociedades Mercantiles
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            Confección de Memorias y Cuentas Anuales de la Sociedad
                        </li>    
                    </ul>
                    
                    <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/icon-Gestiones_administrativas.svg" 
                            class="w3-padding" style="width:6%"/>
                            <b class="w3-xlarge">
                                Gestiones Administrativas
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            xxxxxx</li>
                            <li class="w3-large" style="padding-left:7%">
                            xxxxxx</li>
                    </ul>


                    <ul class="w3-ul w3-pale-blue">
                        <li class="w3-xlarge" style="padding-left:3%">
                            
                            <img id="main-1511" name="icono_img" src="../static/img/asymmetrik.svg" 
                                class="w3-padding-large" style="width:7%"/>
                            <a class="w3-button w3-xlarge" 
                                    href="http://www.camaleontropical.com"><u>camaleón tropical</u>:
                                        Gestoria de inmuebles vacacionales
                            </a>
                        
                       </li>
                    </ul>

                    <ul class="w3-ul w3-white">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/app-store.svg" 
                            class="w3-padding-large" style="width:7%"/>
                            <b class="w3-xlarge">
                                Liberty Seguros
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            xxxxxx</li>
                        <li class="w3-large" style="padding-left:7%">
                            xxxxxx</li>

                    </ul>

                    <ul class="w3-ul w3-pale-blue w3-border">
                        <li class="w3-xlarge" style="padding-left:3%">
                            <img id="main-1511" name="icono_img" src="../static/img/battle-net.svg" 
                            class="w3-padding" style="width:7%"/>
                            <b class="w3-xlarge">
                                Urbanizaciones
                            </b>
                        </li>
                        <li class="w3-large" style="padding-left:7%">
                            ECCO</li>
                        <li class="w3-large" style="padding-left:7%">
                            Peña Parda</li>
                    </ul>



                <!-- </div> -->
            </div>
