    <!-- Team Section -->
    <section id="main-3" name="seccion3" class="w3-white" >
        <h2 id="main-31" name="seccion_titulo1" class="w3-padding"></h2>
        <img  id="main-32" name="seccion_imagen" src="../static/img/img3_Equipo.jpg" style="width:100%">
        <h2 id="main-33" name="Seccion_tilulo2" class="w3-padding w3-text-blue w3-center">SOBRE NOSOTROS</h2>
        
        <article id="main-34" name="articulo_hipertexto" 
            class="w3-panel w3-theme-l5 w3-padding-large w3-large">
            <div>
                <h3 class="w3-center"></h3>
                <p>ASINEX fue fundada en 1984. Nuestra especialidad es el asesoramientoy
                    asistencia a extranjeros y ciudadanos de la UE con primera o segunda
                    residencia en Española
                </p>
                <p>A lo largo de estos años nuestra compañia se ha convertido en uns de las empresas
                    de servicios más firmes y con más experiencia en esta área en la Costa Tropical
                     de Granada.</p>
                <p>Representamos los intereses de nuestros clientes de manera competente y fiable,
                     principalmente en la zona de Almuñécar y la Herradura, pues estamos 
                    muy familiarizados con las condiciones locales, pero nuestro ámbito de actuación va,
                a menudo, más allá</p>
                <p>La escucha atenta, aclarar cuales son las necesidades reales del cliente, una porción
                    de sentido común y una relación calidad-precio equilibrada son los fundamentos básicos
                    de nuestro éxito.</p>
                <p>Para ellor ASINEX dispone de un equipo competente, amable y multilingüe de abogados,
                     asesores y asistentes, así como empleados y colaboradores altamente cualificados
                     y profesionales
                </p>
            </div>
        </article>

       <!-- Iconos servicios -->
       <article id="main-35" name="articulo_iconos" 
       class="w3-panel w3-row w3-center w3-pale-blue w3-large" style="width:100%">

            <div id="main-351" class="w3-third w3-padding-large">
            <img id="main-3511" name="icono_img" src="../static/img/icon-Confianza.svg" 
                    class="w3-padding-large" style="width:33%"/>
            </br>
            <a id="main-3512" name="icono_link" href="#main-2" 
                    class="w3-bar-item w3-button">Confianza</a>
            </div>

            <div id="main-352" class="w3-third w3-padding-large">
            <img id="main-3521" name="icono_img" src="../static/img/icon-Pasion.svg"
                    class="w3-padding-large" style="width:33%" />
            </br>
            <a id="main-3522" name="icono_link" href="#main-2" 
                    class="w3-bar-item w3-center w3-button">Pasion</a>
            </div>

            <div id="main-353" class="w3-third w3-padding-large">
            <img id="main-3531" name="icono_img" src="../static/img/icon-Valores.svg" 
                    class="w3-padding-large" style="width:33%" />
            </br>
            <a id="main-3532" name="icono_link" href="#main-2"
                    class="w3-bar-item w3-button">Valores</a>
            </div>

        </article>




        <article id="main-36" class="w3-panel w3-white">
            <!--Fila1-->
            <div id="main-361" class="w3-row w3-padding-64 w3-center">
                <div class="w3-col m4 l4">
                    <div id="main-3611" class="w3-container">
                        <img src="../static/img/Portrait-Samuel.jpg" class ="w3-circle" 
                        alt="Andrea"  style="width:80%">
                        <p class="w3-red w3-hide">Tarjeta para Andrea.</p>

                        <div class="w3-container">
                            <h3>Andrea Royen</h3>
                            <h4>Gerente, Asesora Fiscal</h4>
                            <h5>Tel. (34) 999 999 999</h5>
                            
                            <a class="w3-button w3-opacity w3-text-blue w3-block" 
                                    href="mailto:andrea@asinex.es">
                                    <b><u>andrea@asinex.es</u></b>
                            </a>
                            
                            <p class="w3-center">
                            "Me gusta el blues y el rock, principalmente de los años 60 7 70.
                            Tambien me gusta el cine de Billy Wilder"
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m4 l4">
                    <div id="main-3612" class="w3-container">
                        <img src="../static/img/Portrait-Fran.jpg" class ="w3-circle" 
                            alt="Fran"  style="width:80%"/>
                        <p class="w3-red w3-hide">Tarjeta para Fran.</p>

                        <div class="w3-container">
                            <h3>Francisco Gonzalez Vigo</h3>
                            <h4>Contabilidad</h4>
                            <p>Tel. (34) 999 999 999</p>
                            <p class="w3-opacity">
                                <a class="w3-button w3-text-blue  w3-block" 
                                    href="mailto:fran@asinex.es">
                                    <b><u>fran@asinex.es</u></b>
                                </a>
                            </p>
                            
                            <p class="w3-center">
                            "Me gusta el blues y el rock, principalmente de los años 60 7 70.
                            Tambien me gusta el cine de Billy Wilder"
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m4 l4">
                    <div id="main-3613" class="w3-container">
                        <img src="../static/img/Portrait-Pilar.jpg" class ="w3-circle"
                         alt="Pilar"  style="width:80%" />
                        <p class="w3-red w3-hide">Tarjeta para Pilar.</p>

                        <div class="w3-container">
                            <h3>Pilar Jimenez Girela</h3>
                            <h4>Abogado</h4>
                            <h5>Tel. (34) 999 999 999</h5>
                            <p class="w3-opacity">
                                <a class="w3-button w3-text-blue  w3-block" 
                                    href="mailto:pilar@asinex.es">
                                    <b><u>pilar@asinex.es</u></b>
                                </a>
                            </p>
                            <p class="w3-center">
                            "Me gusta el blues y el rock, principalmente de los años 60 7 70.
                            Tambien me gusta el cine de Billy Wilder"
                            </p>                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fila 2-->
            <div id="main-342" class="w3-row-padding w3-center w3-grayscale">
                <div class="w3-col m6 l6">
                    <div id="main-3621" class="w3-container">
                        <img src="../static/img/equipo1-andrea.jpeg" class ="w3-circle"
                            alt="Samuel"  style="width:50%">
                        <p class="w3-red w3-hide">Tarjeta para Samuel.</p>

                        <div class="w3-container">
                            <h3>Samuel Ruiz del Castillo</h3>
                            <h4>Fiscal</h4>
                            <h5>Tel. (34) 999 999 999</h5>
                            <p class="w3-opacity">
                                <a class="w3-button w3-text-blue  w3-block" 
                                    href="mailto:andrea@asinex.es">
                                    <b><u>samuel@asinex.es</u></b>
                                </a>
                            </p>
                            <p class="w3-center">
                            "Me gusta el blues y el rock, principalmente de los años 60 7 70.
                            Tambien me gusta el cine de Billy Wilder"
                            </p>                                
                        </div>
                    </div>
                </div>
                <div class="w3-col m6 l6">
                        <div id="main-3622" class="w3-container">
                            <img src="../static/img/equipo6-issa.jpeg" class ="w3-circle" 
                                alt="Issa"  style="width:50%">
                            <p class="w3-red w3-hide">Tarjeta para Andrea.</p>
    
                            <div class="w3-container">
                                <h3>Issa Graven</h3>
                                <h4>Administración</h4>
                                <h5>Tel. (34) 999 999 999</h5>
                                <p class="w3-opacity">
                                    <a class="w3-button w3-text-blue w3-block" 
                                        href="mailto:issa@asinex.es">
                                        <b><u>issa@asinex.es</u></b>
                                    </a>
                                </p>
                                <p class="w3-center">
                                "Me gusta el blues y el rock, principalmente de los años 60 7 70.
                                Tambien me gusta el cine de Billy Wilder"
                                </p>                                
                            </div>
                        </div>
                    </div>
    
                </div>
           </div>
        </article>

    </section>
