<section id="main2" name="SERVICIOS" 
        class="w3-white" >
    <h2 id="main2-1" name="TITULO1" mark="" marki18n=":text1"
            class="w3-hide w3-padding w3-blue-grey"></h2>
    <img id="main2-2" name="IMAGEN" mark="src:text1"
            style="width:100%"
            src="../static/img/img2.jpeg" >
    <h3 id="main2-3" name="TITULO3" mark="" marki18n=":text1"
            class="w3-center asinex-text-blue">NUESTROS SERVICIOS</h3>

    <article id="main2-4" name="DESCRIPCION" mark="" marki18n=":content"
            class="w3-hide w3-panel w3-center w3-large">
        
        <div>
            <p>Le ayudamos a simplificar todo lo relacionado con la burocracia española</p>
            <p>Nuestro objetivo es que nuestros servicios sean prácticos para el cliente.
            desde representarle ante Haciendahasta resolver sus dudas con respecto allow
            a facturas de luz o de comunidad de propietarios.</p>
            <p> Proporcionamos
            un servicio global que le permita hacer lo que desee y a disfrutaar de su vida
            en España.</p>
        </div>

    </article>

    <article id="main2-5" name="SIN DEFINIR"
            class="w3-hide">SIN DEFINIR
    </article>

    <article id="main2-6" name="LISTA_SERVICIOS"
            class="w3-white w3-padding-24">

        <ul id="main2-61" name="LISTA1" 
                class="w3-ul w3-white">

            <li class="w3-xlarge" style="padding-left:3%">
                <img id="main2-6101" name="ICONO1" mark="src:text1"
                        class="w3-padding" style="width:7%"
                        src="../static/img/icon-Asesoria_Legal.svg"/>
                <b id="main2-6102" name="TITULO1" mark="" marki18n=":text1"
                        class="w3-xlarge">
                    Asesoría legal
                </b>
            </li>
            <li id="main2-611" name="SERVICIO-11" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Representación legal de personas físicas y empresas
            </li>
            <li id="main2-612" name="SERVICIO-12" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asistencia integral para la compra y venta de bienes inmuebles. 
            </li>
            <li id="main2-613" name="SERVICIO-13" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asistencia en Constitución de Sociedades mercantiles, 
                Ampliaciones de Capital, Actos jurídicos Societarios, Disoluciones. 
                Coordinar y acompañar en la Notaria para la firma, 
                confeccionar y pagar los impuestos relacionados con la compra 
                hasta su Registro en el registro de la Propiedad.
            </li>
            <li id="main2-614" name="SERVICIO-14" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asistencia en elaboración de todo tipo de documentos notariales. 
                poderes, testamentos, Escrituras de adaptación de superficies y Obra Nueva.
            </li>
            <li id="main2-615" name="SERVICIO-15" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asesoramiento y asistencia global para transmitir propiedades inmobiliarias:
                Donaciones, Herencias, Extinciones de Condominio…
            </li>
            <li id="main2-616" name="SERVICIO-16" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asesoramiento jurídico en áreas de Derecho Civil, Inmobiliario y Mercantil.
            </li>
        </ul>

        <ul id="main2-62" name="LISTA2" 
                class="w3-ul asinex-pale-blue">

            <li class="w3-xlarge" style="padding-left:3%">
                <img id="main2-6201" name="ICONO2" mark="src:text1"
                        class="w3-padding" style="width:7%"
                        src="../static/img/icon-Fiscal_y_Contabilidad.svg"/>
                <b id="main2-6202" name="TITULO2" mark="" marki18n=":text1"
                        class="w3-xlarge">
                    Fiscal y contabilidad
                </b>
            </li>
            <li id="main2-621" name="SERVICIO-21" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Domicilio Fiscal de personas físicas y empresas.
            </li>
            <li id="main2-623" name="SERVICIO-23" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Altas en Censo Agencia Tributaria
            </li>
            <li id="main2-624" name="SERVICIO-24" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Confección y presentación de declaraciones fiscales: 
                Personas Físicas y Jurídicas tanto No Residentes, como Residentes.
            </li>
            <li id="main2-625" name="SERVICIO-25" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Contabilidad 
            </li>        
            <li id="main2-626" name="SERVICIO-26" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Presentación de Cuentas Anuales al Registro Mercantil
            </li>
            <li id="main2-627" name="SERVICIO-27" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asesoramiento Fiscal
            </li>
            <li id="main2-628" name="SERVICIO-81" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Atender Requerimientos de la Agencia Tributaria
            </li>
            <li id="main2-629" name="SERVICIO-29" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Bajas
            </li>    

        </ul>

        <ul id="main2-63" name="LISTA3"
                class="w3-ul w3-white">
            <li class="w3-xlarge" style="padding-left:3%">
                <img id="main2-6301" name="ICONO2" mark="src:text1"
                        class="w3-padding" style="width:7%"
                        src="../static/img/icon-Gestiones_administrativas.svg"/>
                <b id="main2-6302" name="TITULO2" mark="" marki18n=":text1"
                        class="w3-xlarge">
                    Gestiones Administrativas / Burocráticas
                </b>
            </li>
            <li id="main2-631" name="SERVICIO-31" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asistencia para obtención N.I.E. (Número de Identificación Extranjero). 
            </li>
            <li id="main2-632" name="SERVICIO-32" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Obtención de Certificado Digital 
            </li>
            <li id="main2-633" name="SERVICIO-33" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Servicio Postal: Recepción y clasificación de facturas y documentos. 
                En papel y digital. Agua, electricidad, internet, telefonía, 
                comunidad de propietarios, …)
            </li>
            
            <li id="main2-634" name="SERVICIO-34" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Gestiones relacionadas con el Catastro e Impuesto sobre Bienes Inmuebles.
            </li>
            <li id="main2-635" name="SERVICIO-35" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Gestiones relacionadas con la Diputación Provincial y demás Impuestos y tasas municipales.
            </li>
            <li id="main2-636" name="SERVICIO-36" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Asistencia para contratar, cambiar y/o domiciliar suministro de Agua,
                    electricidad, internet, telefonía, alarma.
            </li>
            <li id="main2-637" name="SERVICIO-37" mark="" marki18n=":text1"
                    class="w3-large" style="padding-left:7%">
                Atender Requerimientos del Ayuntamiento y/o de la Junta de Andalucía
            </li>
        </ul>

        <ul id="main2-64" name="LISTA4"
                class="w3-ul asinex-pale-blue">

            <li class="w3-xlarge" style="padding-left:3%">
                <img id="main2-6401" name="ICONO2" mark="src:text1"
                        class="w3-padding" style="width:7%"
                        src="../static/img/icon-Colaboramos.svg"/>
                <b id="main2-6402" name="TITULO2" mark="" marki18n=":text1"
                        class="w3-xlarge">
                    Colaboramos con
                </b>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-641" name="SERVICIO-41" mark="href:text1" marki18n=":text1"
                href="http://www.camaleontropical.com">
                Camaleón Tropical.Gestoria de inmuebles vacacionales </a>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-642" name="SERVICIO-42" mark="href:text1" marki18n=":text1"
                        href="https://g.page/r/CQrDNMYMi4mwEAI/review"> 
                    Arquitectos Molina & Maqueda</a>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-643" name="SERVICIO-43" mark="href:text1" marki18n=":text1"
                        href="https.//www.generali.es">
                    Seguros Generalli</a>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-644" name="SERVICIO-44" mark="href:text1" marki18n=":text1"
                        href="https://mengel-partners.com/en">
                    Inmobiliaria Mengel & Partners</a>
            </li>

            <li class="w3-large" style="padding-left:7%">
                <a id="main2-645" name="SERVICIO-45" mark="href:text1" marki18n=":text1"
                        href="" >
                    Topografia Jose Solana</a>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-646" name="SERVICIO-46" mark="href:text1" marki18n=":text1"
                        href="http://inalmunecar.com">
                    Inmobiliaria InAlmuñecar</a>
                    
            </li>
        </ul>

        <ul id="main2-65" name="LISTA5"
                class="w3-ul w3-white">

            <li class="w3-xlarge" style="padding-left:3%">
                <img id="main2-6501" name="ICONO2" mark="src:text1"
                        class="w3-padding" style="width:7%"
                        src="../static/img/icon-Urbanizaciones.svg"/>
                <b id="main2-6502" name="TITULO2" mark="" marki18n=":text1"
                        class="w3-xlarge">
                    Urbanizaciones
                </b>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-651" name="SERVICIO-51" mark="href:text1" marki18n=":text1"
                        href="http://inalmunecar.com">
                    ECCO</a>
            </li>
            <li class="w3-large" style="padding-left:7%">
                <a id="main2-652" name="SERVICIO-52" mark="href:text1" marki18n=":text1"
                        href="http://inalmunecar.com">
                    Peña Parda</a>
            </li>

        </ul>

    </article>

</section>
