<section id="main5" name="FAQ" class="w3-white" >
    <h2 id="main5-1" name="TITULO1" 
        class="w3-hide w3-padding"></h2>
    <img id="main5-2" name="FOTO-SECCION" src="../static/img/img5.jpeg" style="width:100%">
    <h3 id="main5-3" name="TITULO2" class="w3-center w3-padding asinex-text-blue">
        PREGUNTAS FRECUENTES</h3>

    <article id="main5-4" name="LISTA-FAQ"
            class="w3-container">

        <ul class="w3-ul w3-large w3-white">

            <li id="main5-41" name="FAQ1"
                class="w3-block">
                <strong id="main5-411" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-412')" >
                    Pregunta 1
                </strong>
                <div id="main5-412" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 1
                </div>
            </li>
        
            <li id="main5-42" name="FAQ2"
                class="w3-block">
                <strong id="main5-421" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-422')" >
                    Pregunta 2
                </strong>
                <div id="main5-422" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 2
                </div>
            </li>
            <li id="main5-43" name="FAQ3"
                class="w3-block">
                <strong id="main5-431" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-432')" >
                    Pregunta 3
                </strong>
                <div id="main5-432" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 3
                </div>
            </li>
            <li id="main5-44" name="FAQ4"
                class="w3-block">
                <strong id="main5-441" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-442')" >
                    Pregunta 4
                </strong>
                <div id="main5-442" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 4
                </div>
            </li>
            <li id="main5-45" name="FAQ5"
                class="w3-block">
                <strong id="main5-451" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-452')" >
                    Pregunta 5
                </strong>
                <div id="main5-452" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 5
                </div>
            </li>
            <li id="main5-46" name="FAQ6"
                class="w3-block">
                <strong id="main5-461" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-462')" >
                    Pregunta 6
                </strong>
                <div id="main5-462" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 6
                </div>
            </li>
            <li id="main5-47" name="FAQ7"
                class="w3-block">
                <strong id="main5-471" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-472')" >
                    Pregunta 7
                </strong>
                <div id="main5-472" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 7
                </div>
            </li>
            <li id="main5-48" name="FAQ8"
                class="w3-block">
                <strong id="main5-481" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-482')" >
                    Pregunta 8
                </strong>
                <div id="main5-482" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 8
                </div>
            </li>
            <li id="main5-49" name="FAQ9"
                class="w3-block">
                <strong id="main5-491" name="PREGUNTA" mark="" marki18n=":text1" 
                        class="w3-block w3-white w3-left-align w3-padding w3-hover-blue-gray"
                        onclick="myFunction('main5-492')" >
                    Pregunta 9
                </strong>
                <div id="main5-492" name="RESPUESTA" mark="" marki18n=":content" 
                    class="w3-hide w3-container w3-padding-16" style="padding-left:3%;padding-right:3%">
                    Respuesta 9
                </div>
            </li>

        </ul>

        <script>
            function myFunction(id) {
              var x = document.getElementById(id);
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("w3-white", "asinex-blue w3-text-white");
              } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("asinex-blue w3-text-white", "w3-white");
              }
            }
        </script>
                            
    </article>        
</section>

