<footer id="main9" name="PIE"
    class="w3-panel w3-white w3-center" >

    <div id="main9-1" name="ASINEX"
            class="w3-panel">
        <a id="main9-11" name="LINKEDIN" mark="href:tags"
                class="w3-hover-text-green w3-center"
                href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
                title="W3.CSS" target="_blank" >
            <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge "></i>
        </a>
        <div class="w3-center w3-large">
            <div id="main9-12" name="DIRECCION" mark=":tags">
                Av.Juan Carlos I, 24, Bajo - 18690, Almuñecar (Granada), Spain
            </div>
            <div id="main9-13" name="TEL-EMAIL" mark=":tags">
                (+34) 958 88 11 99 / asinex@asinex.es
            </div>
            <div id="main9-14" name="CIF-REG.MER" mark=":tags">
                CIF: B-18037630 - Reg. Mercantil nº Gr-433592 (15/5/84)
            </div>
        </div>
    </div>

    <div id="main9-2" class="w3-panel">

        <a id="main9-21" name="MC"
        href="https://www.linkedin.com/in/maricarmen-garc%C3%ADa-quesada-b4098360/"
        title="W3.CSS" target="_blank" class="w3-hover-text-green w3-medium w3-left">
        Web desarrollada por Mc
        </a>
        
        <a id="main9-22" name="IR-AL-INICIO"
            href="#main1" class="w3-right">
            <img 
            class ="w3-circle w3-right" style="width:15%"
            src="../static/img/circle-up.svg" />
        </a>
    </div>

</footer>

</body>

</html>

