<section id="main1" name="INICIO" 
    class="w3-white" style="padding-top:100px">
    <h2 id="main1-1" name="TITULO1" mark="" marki18n=":text1"
        class="w3-hide w3-padding">INICIO</h2>
    <img id="main1-2" name="IMAGEN" mark="src:text1" 
        class="" style="width:100%"
        src="../static/img/img1.jpeg">
    <h3 id="main1-3" name="TITULO2" mark="" marki18n=":text1"
            class="w3-hide w3-center asinex-text-blue" ></h3>

    <article id="main1-4" name="DESCRIPCION" mark="" marki18n=":content"
        class="w3-panel w3-padding-large w3-large w3-center">
        
        <div>
            <p>ASINEX es una empresa dedicada al servicio al cliente 
                extranjero con una primera o segunda residencia en Almuñecar.</p>
            <p>Desde 1984 hemos ido evolucionando y afianzándonos en 
                la Costa Tropical de Granada, proporcionando un servicio global
                    que tiene como objetivo ayudar y asistir a nuestros clientes.</p>
            <p>Ofrecemos un trabajo honesto, competente y fiable.</p>
            <p>Procuramos respetar las necesidades de nuestros clientes 
                adaptando nuestra gestión a las mismas.</p> 
            <p>También nos enfocamos en respetar el medio ambiente y por ello, 
                intentamos reducir nuestra huella.</p>
        </div>

    </article>

    <article id="main1-5" name="PANEL-SERVICIOS" 
            class="w3-panel w3-row w3-center asinex-pale-blue w3-large" 
            style="width:100%">
        
        <div id="main1-51" name="PANEL1"
                class="w3-third w3-padding-large" >
            <img id="main1-511" name="ICONO1" mark="src:text1"
                    class="w3-image w3-padding-large" style="width:35%"
                    src="../static/img/icon-Asesoria_Legal.svg" />
            </br>
            <a id="main1-512" name="LINK1" mark="href:text1" marki18n=":text1" 
                    class="w3-bar-item w3-button"
                    href="#main-2">Asesoria Legal</a>
        </div>

        <div id="main1-52" name="PANEL2"
            class="w3-third w3-padding-large">
            <img id="main1-521" name="ICONO2" mark="src:text1"
                class="w3-padding-large" style="width:32%"
                src="../static/img/icon-Fiscal_y_Contabilidad.svg" />
            </br>
            <a id="main1-522" name="LINK2" mark="href:text1" marki18n=":text1"
                class="w3-bar-item w3-center w3-button"
                href="#main-2" >Fiscal y Contabilidad</a>
        </div>
        
        <div id="main1-53" name="PANEL3"
            class="w3-third w3-padding-large">
            <img id="main-531" name="ICONO3" mark="src:text1"
                class="w3-padding-large" style="width:25%" 
                src="../static/img/icon-Gestiones_administrativas.svg" />
            </br>
            <a id="main1-532" name="LINK3" mark="href:text1" marki18n=":text1"
                class="w3-bar-item w3-button" 
                href="#main-2">Gestiones Administrativas</a>
        </div>

    </article>

    <article id="main1-6" name="REFERENCIAS CLIENTES" 
            class="w3-container w3-white">
        <h3 id="main1-61" name="TITULO3" mark="" marki18n=":text1"
                class="asinex-text-blue w3-center">
                Referencias de nuestros clientes</h3>
        <div id="main1-62" name="FILA1"
                class="w3-row w3-pannel w3-white w3-padding-large">

            <div class="w3-col m5 w3-panel w3-left w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                        class="w3-show" style="width:8%"/> 
                <div id="main1-621" name="REF1" mark="" marki18n=":content"
                        class="w3-center">

                    <p>Estoy muy contento con ASINEX y todo el equipo simpático,
                        honesto, eficaz y siempre disponible. - <span><b>Patrick F.</b></span> 
                    </p>

                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>

            <div class="w3-col m5 w3-panel w3-right w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 
                <div id="main1-622" name="REF2" mark="" marki18n=":content"
                    class="w3-center">

                    <p>
                        Estamos muy contentos con los servicios de Samuel. 
                        En el complicado proceso de compra de una casa en Andalucía 
                        siempre nos aconsejó bien, tranquilizándonos y explicándonos 
                        los riesgos y oportunidades. Es preciso y concienzudo. 
                        Creemos que siempre trabaja en interés de su cliente. 
                        En resumen, ¡lo recomiendo mucho! -  <span><b> Vicente y Florencia</b></span>  
                    </P>
 
                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>
        </div>

        <div id="main1-63" name="FILA2"
            class="w3-row w3-pannel w3-white w3-padding-large">
            <div class="w3-col m5 w3-panel w3-left w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 
                <div id="main1-631" name="REF1" mark="" marki18n=":content"
                    class="w3-center">

                    <p>
                        "Las mejores experiencias las he tenido con el apoyo 
                        de los empleados de ASINEX, que se caracterizan por un alto nivel
                            de profesionalidad en la tramitación administrativa. 
                            En particular, ¡el soporte fiscal y legal para sus clientes y 
                            el sector inmobiliario es excelente! 
                            Este logro especial de recibir una administración comprensiva, 
                            plena y competente de una sola fuente, me inspira todos los días. 
                            Es un gran placer para mí trabajar con la directora general
                            Andrea Royen y su personal. Me siento en buenas manos aquí y 
                            sólo puedo recomendar ASINEX.” - <span><b>Florian Gr.</b></span> 
                    </p>
    
                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>

            <div class="w3-col m5 w3-panel w3-right w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 
                <div id="main1-632" name="REF2" mark="" marki18n=":content"
                    class="w3-center">

                    <p>
                        Como propietario de nuestra propiedad vacacional en el municipio
                            de Almuñécar, mi familia y yo somos clientes satisfechos de Asinex
                            desde hace más de 30 años. Siempre podimos contar con 
                            el apoyo confiable en todos los asuntos fiscales y regulatorios
                            de la directora general Andrea Royen y su amable y competente equipo y,
                            por lo tanto, podimos disfrutar de las diversas 
                            atracciones de la Costa Tropical sin preocupaciones.” - <span><b>Patrick H.</b></span> 
                    </p>
     
                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>
        </div>

        <div id="main1-64" name="FILA3"
            class="w3-row w3-pannel w3-white w3-padding-large">
            <div class="w3-col m5 w3-panel w3-left w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 
                <div id="main1-641" name="REF1" mark="" marki18n=":content"
                    class="w3-center">

                    <p>
                        Referencia FIla3-Col1. - <span><b>xxx</b></span> 
                    </p>

                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>

            <div class="w3-col m5 w3-panel w3-right w3-padding-large w3-white">
                <img src="../static/img/Simbolo-comilla1.png" 
                    class="w3-show" style="width:8%"/> 
                <div id="main1-642" name="REF2" mark="" marki18n=":content"
                    class="w3-center">

                    <p>
                        Referencia FIla3-Col2. - <span><b>xxx</b></span> 
                    </p>
 
                </div>
                <img src="../static/img/Simbolo-comilla2.png" 
                    class="w3-right" style="width:8%"/>
            </div>

        </div>

    </article>

    <!-- COLABORAMOS CON  -->
    <article id="main1-7" name="COLABORAMOS CON"
        class="asinex-pale-blue">
        <h3 id="main1-71" name="TITULO3" mark="" marki18n=":text1"
            class="asinex-text-blue w3-center">Colaboramos con</h3>

        <div id="main1-72" name="FILA1" 
            class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">
            
            <div class="w3-third w3-padding-large">
                <a id="main1-721" name="LINK-11" mark="href:text1"
                    href="http://camaleontropical.com"> 
                    <img id="main1-7211" name="LOGO-11" mark="src:text1"
                        class="w3-padding-large" style="width:50%"
                        src="../static/img/Logo_Camaleon_Tropical.png" />
                </a>
            </div>

            <div class="w3-third w3-padding-large">
                <a id="main1-722" name="LINK-12" mark="href:text1"
                    href="https://www.generali.es"> 
                    <img id="main1-7221" name="LOGO-12" mark="src:text1"
                        class="w3-padding-large" style="width:50%"
                        src="../static/img/Logo_Generali_Seguros.png"/>
                </a>
            </div>

            <div class="w3-third w3-padding-large">
                <a id="main1-723" name="LINK-13" mark="href:text1"
                    href="https://g.page/r/CQrDNMYMi4mwEAI/review" >
                    <img id="main1-7231" name="LOGO-13" mark="src:text1"
                        class="w3-padding-large" style="width:50%"
                        src="../static/img/Logo_Arquitectos_Molina.jpg"/>
                </a>
            </div>
    
        </div>
        <div id="main1-73" name="FILA2" 
            class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">

            
            <div class="w3-third w3-padding-large">
                <a id="main1-731" name="LINK-21" mark="href:text1"
                    href="#main1-7" >
                    <img id="main1-7211" name="LOGO-21" mark="src:text1"
                        class="w3-padding-large" style="width:50%"
                        src="../static/img/Logo_Topografia_Jose_Solana.jpg"/>
                </a>
            </div>

            <div class="w3-third w3-padding-large">
                <a id="main1-732" name="LINK-22" mark="href:text1"
                    href="https://mengel-partners.com/en" > 
                    <img id="main1-7321" name="LOGO-22" mark="src:text1"
                        class="w3-padding-large" style="width:40%"
                        src="../static/img/Logo_Mengel__Partners.png" />
                </a>
            </div>

            <div class="w3-third w3-padding-large">
                <a id="main1-733" name="LINK-23" mark="href:text1"
                    href="http://inalmunecar.com"  >
                    <img id="main1-7331" name="LOGO-23" mark="src:text1"
                        class="w3-padding-large" style="width:50%"
                        src="../static/img/Logo_InAlmunecar.jpg" />
                </a>
            </div>
        </div>
    </article>

</section>
