<section id="main8" name="CONTACTO" 
        class="w3-white" >
    <h2 id="main8-1" name="TITULO1" mark="" marki18n=":text1"
            class="w3-hide w3-padding"></h2>
    <img id="main8-2" name="FOTO-SECCION" mark="src:tags" 
            style="width:100%"
            src="../static/img/Ofi_web2.jpg" >
    <h3 id="main8-3" name="TITULO2" mark="" marki18n=":text1"
            class="w3-padding w3-center asinex-text-blue" >CONTACTANOS</h3>

    <article id="main8-4" name="DESCRIPCION" 
                class="w3-panel w3-padding w3-xlarge">
        
        <div class="w3-center w3-xlarge">
            <p id="main8-41" >
                Av.Juan Carlos I, 24, Bajo </p>
            <p id="main8-42" >
                18690, Almuñecar (Granada), Spain</p>            
            <p id="main8-43" >
                (+34) 958 88 11 99</p>                
            <a id ="main8-44" name="EMAIL" mark="href:tags"
                    class="w3-hover-text-blue" style="display:block"
                    href="mailto:asinex@asinex.es" >
                asinex@asinex.es</a>
            <div id="main8-45" name="HORARIO" 
                class="w3-padding" >
                <img id="main8-451" name="RELOJ" mark="src:tags"
                        class ="w3-circle" style="width:40px"
                        src="../static/img/icon-Horario.svg" >
                <p id="main8-452" name="DIAS-HORAS" mark="" marki18n=":text1"
                    style="display:inline"> 
                    : Lunes - Viernes: 9.00 - 14.00</p>
            </div>
        </div>
    </article>

    <article id="main8-5" name="GOOGLE-MAP" mark=":text1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.601302546624!2d-3.691918797912952!3d36.732135515343934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71889963e8918b%3A0x7fd23d077010f3c0!2sAv.%20Juan%20Carlos%20I%2C%2024%2C%2018690%20Almu%C3%B1%C3%A9car%2C%20Granada!5e0!3m2!1ses!2ses!4v1677840485458!5m2!1ses!2ses" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <article>
</section>

</div>
