<section id="main3" name="NOSOTROS" class="w3-white" >
    <h2 id="main3-1" name="TITULO1" mark="" marki18n=":text1"
            class="w3-padding"></h2>
    <img id="main3-2" name="FOTO-SECCION" mark="src:tags"
            style="width:100%"    
            src="../static/img/Equipo_web.jpg">
    <h3 id="main3-3" name="TITULO2" mark="" marki18n=":text1"
            class="w3-padding w3-center asinex-text-blue" >
        SOBRE NOSOTROS</h3>

    <article id="main3-4" name="DESCRIPCION" mark="" marki18n=":content"
        class="w3-panel w3-center w3-padding-large w3-large">
        <div>
            <p>ASINEX fue fundada en 1984. Nuestra especialidad es el asesoramientoy
                asistencia a extranjeros y ciudadanos de la UE con primera o segunda
                residencia en Española
            </p>
            <p>A lo largo de estos años nuestra compañia se ha convertido en una de las empresas
                de servicios más firmes y con más experiencia en esta área en la Costa Tropical
                    de Granada.</p>
            <p>Representamos los intereses de nuestros clientes de manera competente y fiable,
                    principalmente en la zona de Almuñécar y la Herradura, pues estamos 
                muy familiarizados con las condiciones locales, pero nuestro ámbito de actuación va,
            a menudo, más allá</p>
            <p>La escucha atenta, aclarar cuales son las necesidades reales del cliente, una porción
                de sentido común y una relación calidad-precio equilibrada son los fundamentos básicos
                de nuestro éxito.</p>
            <p>Para ello ASINEX dispone de un equipo competente, amable y multilingüe de abogados,
                    asesores y asistentes, así como empleados y colaboradores altamente cualificados
                    y profesionales
            </p>
        </div>
    </article>

    <article id="main3-5" name="PANEL" 
            class="w3-panel w3-row w3-center asinex-pale-blue w3-large" style="width:100%">

        <div id="main3-51" name="PANEL1"
            class="w3-third w3-padding-large">
            <img id="main3-511" name="IMAGEN" mark="src:tags"
                class="w3-padding-large" style="width:39%"
                src="../static/img/icon-Confianza.svg" />
            </br>
            <a id="main3-512" name="TEXTO-LINK" mark="href:tags"
                class="w3-bar-item w3-button"
                href="#main-2">Confianza</a>
        </div>

        <div id="main3-52" name="PANEL2"
            class="w3-third w3-padding-large">
            <img id="main3-521" name="IMAGEN" mark="src:tags"
                class="w3-padding-large" style="width:33%" 
                src="../static/img/icon-Pasion.svg" />
            </br>
            <a id="main3-522" name="TEXTO-LINK" mark="href:tags"
                class="w3-bar-item w3-center w3-button"
                href="#main-2">Pasion</a>
        </div>

        <div id="main3-53" name="PANEL3"
            class="w3-third w3-padding-large">
            <img id="main3-531" name="IMAGEN" mark="src:tags"
                class="w3-padding-large" style="width:33%"
                src="../static/img/icon-Valores.svg"  />
            </br>
            <a id="main3-532" name="TEXTO-LINK" mark="src:tags"
                class="w3-bar-item w3-button"
                href="#main-2">Valores</a>
        </div>

    </article>

    <article id="main3-6" name="EQUIPO"
        class="w3-panel w3-white">
        <!--Fila1-->
        <div id="main3-61" name="FILA1"
                class="w3-row w3-padding-64 w3-center">
            <!-- ANDREA -->
            <div class="w3-col m4 l4">
                <div id="main3-611" class="w3-container">
                    <img id="main3-6111" name="FOTO" mark="src:tags"
                    src="../static/img/Equipo-Andrea.jpg" class ="w3-circle" 
                    alt="Andrea"  style="width:80%">
                    <div class="w3-container">
                        <h4 id="main3-6112" name="NOMBRE" mark=":text1">
                            Andrea Royen</h4>
                        <h6 id="main3-6113" name="CARGO" mark="" marki18n=":text1">
                            Gerente, Asesora Fiscal</h6>
                        <h5 id="main3-6114" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        
                        <a id="main3-6115" name="LINK-EMAIL" mark="href:tags"
                                class="w3-button w3-opacity asinex-text-blue w3-block" 
                                href="mailto:andrea@asinex.es">
                            <b id="main3-61151" name="EMAIL" mark=":text1"
                                >andrea@asinex.es</b>
                        </a>
                        <p id="main3-6116" name="VALORES" mark="" marki18n=":content"
                            class="w3-center">
                            Me gusta el buen humor y estar en la naturaleza. 
                            En el trabajo me maravilla la eficacia y que los clientes
                                y colaboradores estén a gusto y satisfechos. 
                                Intento tener un equilibrio saludable en todo lo que hago.
                        </p>                                
                    </div>
                </div>
            </div>
            <!-- FRAN -->
            <div class="w3-col m4 l4">
                <div id="main3-612" class="w3-container">
                    <img id="main3-6121" 
                    src="../static/img/Equipo-Fran.jpeg" class ="w3-circle" 
                    alt="Fran"  style="width:80%">
                    <div class="w3-container">
                        <h4 id="main3-6122" name="NOMBRE" mark=":text1">
                            Francisco González Vigo</h4>
                        <h6 id="main3-6123" name="CARGO" mark="" marki18n=":text1">
                            Contabilidad</h6>
                        <h5 id="main3-6124" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        
                        <a id="main3-6125" name="LINK-EMAIL" mark="href:tags"
                                class="w3-button w3-opacity asinex-text-blue w3-block" 
                                href="mailto:fran@asinex.es">
                                <b id="main3-6126" name="EMAIL" mark=":text1">
                                fran@asinex.es</b>
                        </a>
                        <p id="main3-6126" name="VALORES" mark="" marki18n=":content"
                            class="w3-center">
                            Cuando se mira la vida con retrospectiva, 
                            te das cuenta de que hay infinidad de interconexiones, 
                            entre elementos que en un principio habíamos considerado 
                            completamente separados y no lo están tanto.
                                En mi vida tengo pilares como la Familia, los Amigos, 
                                el Trabajo y mi hobby, que son las Artes Marciales, 
                                que aportan valores como Disciplina, Respeto, Esfuerzo, etc.
                            <p class="">Pensando un poco en todo esto, uno se da cuenta que:
                                • No se puede tener una buena relación, a cualquier nivel, con una mala persona. 
                                • La disciplina es el camino que nos lleva de los objetivos a los logros.
                                • El respeto es la piedra angular de cualquier relación humana.</p>

                            Quiero tomar prestada esta frase del Bushido (código de los samuráis): 
                            No sé nada acerca de cómo superar a otros. 
                            Solo conozco el modo de superarme a mí mismo.
                        </p>                                
                    </div>
                </div>
            </div>
            <!--   PILAR-->
            <div class="w3-col m4 l4">
                <div id="main3-613" class="w3-container">
                    <img id="main3-6131" name="FOTO" mark="src:tags"
                    src="../static/img/Equipo-Pilar.jpg" class ="w3-circle" 
                    alt="Pilar"  style="width:80%">
                    <div class="w3-container">
                        <h4 id="main3-6132" name="NOMBRE" mark=":text1">
                            Pilar Jiménez Girela</h4>
                        <h6 id="main3-6133" name="CARGO" mark="" marki18n=":text1">
                            Abogado</h6>
                        <h5 id="main3-6134" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        
                        <a id="main3-6135" name="LINK-EMAIL" mark="href:tags"
                                class="w3-button w3-opacity asinex-text-blue w3-block" 
                                href="mailto:pilar@asinex.es">
                                <b id="main3-61351" name="EMAIL" mark=":text1">
                                    pilar@asinex.es</b>
                        </a>
                        <p id="main3-6136" name="VALORES" mark="" marki18n=":content"
                            class="w3-center">
                            El Derecho y la Moda, dos grandes pasiones. 
                            Ambas disciplinas implican confianza en uno mismo, 
                            luchar por el respeto y los derechos de los demás, 
                            ser estudiante siempre, hacer lo mejor, 
                            hasta en el más mínimo detalle, siempre con justicia, 
                            humildad y honradez, porque 
                            “la elegancia no consiste en destacar sino en ser recordado”.
                        </p>                                
                    </p>                                
                    </div>
                </div>
            </div>
        </div>
        <!-- Fila 2-->
        <div id="main3-62" name="FILA2"
            class="w3-row-padding w3-center">
            <!-- Samuel-->
            <div class="w3-col m4 l4">
                
                <div id="main3-621" class="w3-container">
                    <img id="main3-6211" name="FOTO" mark="src:tags"
                            class ="w3-circle" style="width:80%" alt="Samuel"
                            src="../static/img/Equipo-Samuel.jpg">
                    <div class="w3-container">
                        <h4 id="main3-6212" name="NOMBRE" mark=":text1">
                            Samuel Ruiz del Castillo</h4>
                        <h6 id="main3-6213" name="CARGO" mark="" marki18n=":text1">
                            Abogado</h6>
                        <h5 id="main3-6214" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        <p class="w3-opacity">
                            <a id="main3-6215" name="LINK-EMAIL" mark="href:tags"
                            class="w3-button asinex-text-blue  w3-block" 
                                href="mailto:samuel@asinex.es">
                                <b id="main3-62151" name="EMAIL" mark=":text1">
                                    samuel@asinex.es</u></b>
                            </a>
                        </p>
                        <p id="main3-6216" name="VALORES" mark="" marki18n=":content"
                            class="w3-center">
                            Me encanta el deporte, la música, la naturaleza y
                            los animales en general, y disfrutar del mar en todos sus aspectos. 
                            Procuro disfrutar y aprovechar mi ocio y mi tiempo libre al máximo.
                            Ello viene obviamente precedido de mi trabajo.
                                Resulta confortante realizar tu trabajo y en encontrar a
                                un cliente seguro, tranquilo y satisfecho. 
                                Ello me motiva y lo convierte en un reto. 
                        </p>                                
                    </div>
                </div>
            </div>
            <!-- ISSA -->
            <div class="w3-col m4 l4">
                <div id="main3-622" class="w3-container">
                    <img id="main3-6221" name="FOTO" mark="src:tags" 
                        class ="w3-circle" style="width:80%"
                        src="../static/img/Equipo-Issa.jpg" alt="Issa" >
                    <div class="w3-container">
                        <h4 id="main3-6222" name="NOMBRE" mark=":text1">
                            Issa Graven</h4>
                        <h6 id="main3-6223" name="CARGO" mark="" marki18n=":text1">
                            Administración</h6>
                        <h5 id="main3-6224" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        <a id="main3-6225" name="LINK-EMAIL" mark="href:tags"
                            class="w3-button asinex-text-blue w3-block" 
                            href="mailto:issa@asinex.es">
                            <b id="main3-62251" name="EMAIL" mark=":text1">
                                issa@asinex.es</b>
                        </a>
                        <p id="main3-6226" name="VALORES" mark="" marki18n=":content"
                        class="w3-center">
                            Viajar es vivir, decía H.C Andersen. Como viajera incansable, 
                            todos mis viajes terminaban estableciéndome en el lugar del destino,
                                con el deseo de convertirme en uno de sus habitantes.
                            Como trabajadora de Asinex, veo fascinante y educativo
                                el encuentro con diferentes culturas y sus formas de expresión. 
                                Es un reto para mi llegar a ser capaz de comunicar 
                                información en otros idiomas. Una pasión de la que 
                                me siento afortunada de poder vivir cada día.
                        </p>                                
                    </div>
                </div>
            </div>
            <!--   ESPERANZA -->
            <div class="w3-col m4 l4">
                <div id="main3-623" class="w3-container">
                    <img id="main3-6231" name="FOTO" mark="src:tags"
                    src="../static/img/Equipo-Pilar.jpg" class ="w3-circle" 
                    alt="Pilar"  style="width:80%">
                    <div class="w3-container">
                        <h4 id="main3-6232" name="NOMBRE" mark=":text1">
                            Esperanza</h4>
                        <h6 id="main3-6233" name="CARGO" mark="" marki18n=":text1">
                            Agente Inmobiliaria</h6>
                        <h5 id="main3-6234" name="TELEFONO" mark=":text1">
                            Tel. (34) 999 999 999</h5>
                        
                        <a id="main3-6235" name="LINK-EMAIL" mark="href:tags"
                                class="w3-button w3-opacity asinex-text-blue w3-block" 
                                href="mailto:andrea@asinex.es">
                                <b id="main3-62351" name="EMAIL" mark=":text1">
                                    esperanza@asinex.es</b>
                        </a>
                        <p id="main3-6236" name="VALORES" mark="" marki18n=":content"
                            class="w3-center">
                            Valores para Esperanza
                        </p>                                
                    </p>                                
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
