<section id="main4" name="COSTA-TROPICAL" 
        class="w3-white" >
    <h2 id="main4-1" name="TITULO1" mark="" marki18n=":text1"
        class="w3-hide w3-padding"></h2>
    <img id="main4-2" name="FOTO-SECCION" mark="src:tags"
        style="width:100%"
        src="../static/img/img4.jpeg" >
    <h3 id="main4-3" name="TITULO2" mark="" marki18n=":text1"
        class="w3-padding w3-center asinex-text-blue">
        COSTA TROPICAL</h3>

    <article id="main4-4" name="DESCRIPCION" mark="" marki18n=":content"
        class="w3-panel w3-padding-large w3-large w3-center">

        <div>                
        <p>Cada vez más popular entre los residentes extranjeros</p>
        <p>Almuñécar es una atractiva ciudad costera con un interesante
                paseo marítimo que está dividido en numerosos tramos
                con pequeñas calas y varias playas largas.</p>
        <p> Todas con excelentes instalaciones que las hacen perfectas para familias</p>
                     
        </div>

    </article>

       <!-- Iconos links -->
    <article id="main4-5" name="PANEL" 
        class="asinex-pale-blue">
        <h3 id="main4-50" name="TITULO-ARTICULO" mark="" marki18n=":text1"
            class="w3-center w3-padding-24 asinex-text-blue">Enlaces útiles</h3>
        <!-- FILA1-->
        <div
            class="w3-panel w3-row asinex-pale-blue w3-large w3-center" style="width:100%">

            <div id="main4-51" name="PANEL1"
                    class="w3-third w3-padding-large">
                <img id="main4-511" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-gente.jpg" />
                <a id="main4-512" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                        class="w3-bar-item w3-button"
                        href="https://www.almunecar.es/" >
                    Ayuntamiento</a>
            </div>

            <div id="main4-52" name="PANEL2"
                    class="w3-third w3-padding-large">
                <img id="main4-521" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-costa.jpg" />
                <a id="main4-522" name="TEXTO-LINK" mark="href:tags" marki18n=":text1" 
                    class="w3-bar-item w3-button"
                    href="https://www.visitalmunecar.es/">
                    Visit Almuñecar</a>
            </div>

            <div id="main4-53" name="PANEL3"
                class="w3-third w3-padding-large">
                <img id="main4-531" name="IMAGEN" mark="src:tags"
                    class="w3-padding-large w3-circle" style="width:90%" 
                    src="../static/img/Almu-gaviota.jpg" />
                <a id="main4-532" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                    class="w3-bar-item w3-button"
                    href="https://www.andalucia.org/es/playas/costa-tropical" >
                    Costa Tropical</a>
            </div>
        </div>
        <!-- FILA2-->
        <div
            class="w3-panel w3-row asinex-pale-blue w3-large w3-center" style="width:100%">

            <div id="main4-54" name="PANEL4"
                    class="w3-third w3-padding-large">
                <img id="main4-541" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-gente.jpg" />
                <a id="main4-542" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                        class="w3-bar-item w3-button"
                        href="https://www.almunecar.es/" >
                    Ayuntamiento</a>
            </div>

            <div id="main4-55" name="PANEL5"
                    class="w3-third w3-padding-large">
                <img id="main4-551" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-costa.jpg" />
                <a id="main4-552" name="TEXTO-LINK" mark="href:tags" marki18n=":text1" 
                    class="w3-bar-item w3-button"
                    href="https://www.visitalmunecar.es/">
                    Visit Almuñecar</a>
            </div>

            <div id="main4-56" name="PANEL6"
                class="w3-third w3-padding-large">
                <img id="main4-561" name="IMAGEN" mark="src:tags"
                    class="w3-padding-large w3-circle" style="width:90%" 
                    src="../static/img/Almu-gaviota.jpg" />
                <a id="main4-562" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                    class="w3-bar-item w3-button"
                    href="https://www.andalucia.org/es/playas/costa-tropical" >
                    Costa Tropical</a>
            </div>
        </div>
        <!-- FILA3-->
        <div
            class="w3-panel w3-row asinex-pale-blue w3-large w3-center" style="width:100%">

            <div id="main4-57" name="PANEL7" mark="ocultar:text1"
                    class="w3-third w3-padding-large">
                <img id="main4-571" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-gente.jpg" />
                <a id="main4-572" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                        class="w3-bar-item w3-button"
                        href="https://www.almunecar.es/" >
                    Ayuntamiento</a>
            </div>

            <div id="main4-58" name="PANEL8" mark="ocultar:text1"
                    class="w3-third w3-padding-large">
                <img id="main4-581" name="IMAGEN" mark="src:tags"
                        class="w3-padding-large w3-circle" style="width:90%"
                        src="../static/img/Almu-costa.jpg" />
                <a id="main4-582" name="TEXTO-LINK" mark="href:tags" marki18n=":text1" 
                    class="w3-bar-item w3-button"
                    href="https://www.visitalmunecar.es/">
                    Visit Almuñecar</a>
            </div>

            <div id="main4-59" name="PANEL9" mark="ocultar:text1"
                class="w3-third w3-padding-large">
                <img id="main4-591" name="IMAGEN" mark="src:tags"
                    class="w3-padding-large w3-circle" style="width:90%" 
                    src="../static/img/Almu-gaviota.jpg" />
                <a id="main4-592" name="TEXTO-LINK" mark="href:tags" marki18n=":text1"
                    class="w3-bar-item w3-button"
                    href="https://www.andalucia.org/es/playas/costa-tropical" >
                    Costa Tropical</a>
            </div>
        </div>

    </article>
        
</section>
