<section id="main5" name="FAQ" class="w3-white" >
    <h2 id="main5-1" name="TITULO1" 
        class="w3-hide w3-padding"></h2>
    <img  id="main5-2" name="IMAGEN1" src="../static/img/img5.jpeg" style="width:100%">
    <h3 id="main5-3" name="TITULO2" class="w3-center w3-padding asinex-text-blue">
        PREGUNTAS FRECUENTES</h3>

    <article id="main5-4" name="LISTA-FAQ"
            class="w3-container">

        <ul class="w3-ul w3-white">
 
            <li id="main5-41" name="FAQ-01"
                    class="w3-large w3-white w3-hover-pale-blue" style="padding-left:5%" 
                    onclick="myFunction('main5-412')">
                <b id="main5-411">¿Hay aparcamiento cerca de vuestra x.mvzñsdñdfjdñsfjñsfjsñdfjsdñfjdñsfjs
                sfsfd sdfsdf ñdlfñsfjoficina?</b>
                <div id="main5-412" class="w3-hide w3-container">
                    <p>Some text..</p>
                </div>
            </li>
            <li id="main5-42" name="FAQ-02"
                    class="w3-large w3-hover-pale-blue" style="padding-left:5%" 
                    onclick="myFunction('main5-422')">
                <b id="main5-421">¿Hay aparcamiento cerca de vuestra x.mvzñsdñdfjdñsfjñsfjsñdfjsdñfjdñsfjs
                    sfsfd sdfsdf ñdlfñsfjoficina?</b>
                <div id="main5-422" class="w3-hide w3-container">
                    <p>Some text..</p>
                </div>
            </li>
            <li id="main5-43" name="FAQ-03"
                class="w3-large w3-hover-pale-blue" style="padding-left:5%" 
                onclick="myFunction('main5-432')">
                <b id="main5-431">¿Hay aparcamiento cerca de vuestra x.mvzñsdñdfjdñsfjñsfjsñdfjsdñfjdñsfjs
                sfsfd sdfsdf ñdlfñsfjoficina?
                <div id="main5-432" class="w3-hide w3-container">
                    <p>Some text..</p>
                </div>
            </li>
        </ul>

        <div>
            <button onclick="myFunction('FAQ-1')"
             class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Hay aparcamiento cerca de vuestra oficina?</b></button>
            <div id="FAQ-1" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>
            
            <button onclick="myFunction('FAQ-2')" 
            class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Cuánto cobráis?</b></button>
            <div id="FAQ-2" class="w3-hide w3-container">
                <p>Los honorarios van en función de si la gestión es una gestión única o periódica.
                     También influye si el tiempo invertido es para una gestión 
                     administrativa/burocrática o profesional. </p>
            </div>

            <button onclick="myFunction('FAQ-3')"
            class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
               <b>¿Quiero solicitar un N.I.E., me podéis ayudar?</b></button>
            <div id="FAQ-3" class="w3-hide w3-container">
               <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-4')"
                class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
              <b>¿Quiero hacerme Residente, me podéis ayudar?</b></button>
            <div id="FAQ-4" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-5')"
                class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Tengo preguntas sobre mi pensión, me podéis ayudar?</b></button>
            <div id="FAQ-5" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-6')"
                class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Hacéis traducciones?</b></button>
            <div id="FAQ-6" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-7')"
                class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Necesito una cuenta bancaria en España para domiciliar mis recibos de Agua, 
                Electricidad y demás suministros?</b></button>
            <div id="FAQ-7" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-8')"
                class="w3-button w3-block w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Gestionáis Transmisiones de Vehículos?</b></button>
            <div id="FAQ-8" class="w3-hide w3-container">
                <p>Some text..</p>
            </div>

            <button onclick="myFunction('FAQ-9')"
                class="w3-button w3-white w3-hover-pale-blue w3-left-align w3-large">
                <b>¿Quiero comprarme un coche/moto y me piden el Certificado de Empadronamiento,
                     me podéis hacer esta gestión sin que venga a España?</b></button>
            <div id="FAQ-9" class="w3-hide w3-container">
                 <p>Some text..</p>
            </div>
        
        </div>

        <script>
            function myFunction(id) {
              var x = document.getElementById(id);
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("w3-white", "asinex-blue w3-text-white");
              } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace("asinex-blue w3-text-white", "w3-white");
              }
            }
        </script>
        
                    
    </article>        
</section>


